html, body {
  height: 100%;
  margin: 0;
}

body, button {
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 30em) {
  #onfido-mount {
    position: relative;
    top: 10%;
  }

  .onfido-sdk-ui-Modal-inner {
    font-family: "Open Sans", sans-serif !important;
  }
}
