@import '../../Theme/constants';

.iconContainer {
  height: auto;
  width: 100%;
  flex: 2 1 1em;
  min-height: 1em;
  max-height: 9em;
  margin: auto;
}

/*
 * NOTE: iOS Safari has a strange bug where SVG background images are not displayed on some iOS devices
 *       if margin, background image properties are not declared in a specific order together & before background-image
 *       ref: http://geoffmuskett.com/strange-bug-on-ios-svg-background-images-no-showing/
 *       Also avoiding using @extend %icon-circle-background here as it seems to affect the icon visibility
 */
.icon {
  height: 144 * $unit;
  width: 144 * $unit;
  margin: 50 * $unit auto;
  border-radius: 50%;
  background-color: var(--osdk-color-background-icon);
  background-size: contain;
  background-image: url('./assets/return-to-computer-large.svg');
}

.text {
  font-size: var(--font-size-small);
  line-height: 1.43;
}
