@import (less) "../../Theme/constants.css";

.bodyWrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: space-between;
  align-items: center;
}

.instructions {
  font-size: @font-size-small;
  margin: 10% 16*@unit-small 16*@unit-small;
  @media (--small-viewport) and (--short-viewport) {
    margin: 0 16*@unit-small;
  }
}

.image {
  font-size: @font-size-small;
  margin-top: 40*@unit;
  display: flex;
  flex-direction: column;
  max-width: 105.01*@unit-x-small;
  width: 100%;
  padding: 10*@unit-small;
  @media (--small-viewport) and (--long-viewport) {
    max-width: 79*@unit-x-small;
    margin: auto;
  }
  @media (--small-viewport) and (--short-viewport) {
    max-width: 79*@unit-x-small;
    margin: auto;
  }
}

.reasons {
  font-size: @font-size-small;

  text-align: center;
  min-height: 42*@unit-small;
}

.reason {
  margin-top: 8*@unit-small;
}

.graphic {
  background-color: @color-white;
  background-image: url('assets/allow.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  flex: 0 1 100%;
  /* 90.2% is the aspect ratio of responsive div */
  /* The percentage has been calculated by dividing the original height value divided by the original width value. In this case 94.67/105.01 = 0.992 */
  padding-top: 90.2%;
}

.allow {
  top: 70%;
  position: absolute;
  right: 0;
  text-align: center;
  width: 50%;
  font-weight: 600;

  @media (--small-viewport) {
    top: 65%;
  }
}

.buttonInstructions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
