@import (less) "../../Theme/constants.css";

.image {
  font-size: @font-size-small;

  border-radius: 3*@unit-small;
  border: 1px solid @color-background;
  margin: 30*@unit-small 0 8*@unit-small;
}

.image p {
  margin: 16*@unit-small;
}

.reasons {
  font-size: @font-size-small;

  text-align: center;
  min-height: 42*@unit-small;
}

.reason {
  margin-top: 8*@unit-small;
}

.graphic {
  border: 1px solid @color-background;
  border-radius: 5*@unit-small;
  background-color: @color-white;
  box-shadow: 0 3*@unit-small 6*@unit-small @color-background;
  background-image: url('assets/allow.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 121*@unit-small;
  margin: 0 auto 30*@unit-small;
  position: relative;
  width: 270*@unit-small;

  @media (--small-viewport) {
    height: 100*@unit-small;
    width: 224*@unit-small;
  }
}

.allow {
  top: 70%;
  position: absolute;
  right: 0;
  text-align: center;
  width: 50%;
  font-weight: 600;

  @media (--small-viewport) {
    top: 65%;
  }
}

.allow::after {
  content: '';
  border: 4*@unit-small solid @color-primary-500;
  width: 80*@unit-small;
  height: 80*@unit-small;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
