@import '../../Theme/constants';

.content {
  text-align: left;
  margin: 0 48 * $unit auto;

  @media (--small-viewport) {
    margin: 0 0 auto;
  }
}

.requirements {
  font-weight: 600;
  color: var(--osdk-color-content-body);
  margin-bottom: 16 * $unit;
}

.requirement {
  display: flex;
  padding-bottom: 16 * $unit;
  padding-left: 16 * $unit;
  position: relative;

  &::before {
    content: '';
    background-color: var(--osdk-color-background-alert-info);
    border-radius: 50%;
    display: inline-block;
    height: 6 * $unit;
    width: 6 * $unit;
    position: absolute;
    left: 0;
    top: 6 * $unit;
  }
}

.bolder {
  font-weight: 600;
}
