@import (less) "../Theme/constants.css";

.title {
  @media (--large) {
    margin-left: 3rem;
  }
}
.circle{
  width: 45%;
  max-height: 80%;
  border-radius: 100%;
}

.circle:before {
    content: "";
    display: block;
    padding-top: 125%;
}
