@import (less) "../Theme/constants.css";

.challenge {
  line-height: 36px;
}

.challengeTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
}

.introCopy {
  margin-bottom: auto;
}

.introBullets {
  text-align: left;
  padding-left: 40px;

  @media (--small-viewport) {
    padding-left: 0;
  }
}

.introBullet {
  padding-left: 46px;
  margin-bottom: 24px;
  list-style: none;
  position: relative;
}

.bolder {
  font-weight: 600;
}

.introIcon {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
}

.speak_out_loudIcon {
  background-image: url('assets/mic.svg');
}

.two_actionsIcon {
  background-image: url('assets/camera.svg');
}

.movement {
  background-image: url('assets/move-arrow.svg');
  display: inline-block;
  width: 65px;
  height: 21px;
  margin-top: 16px;
}

.movement-turnLeft {
  transform: rotate(180deg);
}

.recite {
  display: block;
  font-size: 54px;
  font-weight: 600;
  line-height: 64px;
}

.actions {
  position: absolute;
  bottom: 48px;
  left: 16px;
  right: 16px;
}

.btn:disabled {
  background-color: #8A9293;
}

.btn:extend(.btn, .btn-centered, .btn-primary) {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.captureActionsHint {
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;

  &.recordAction {
    @media (--smaller-viewport) {
      display: none;
    }
  }
}

.caption {
  color: #fff;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 64px;
  left: 0;
  right: 0;
}

.recordingIndicator {
  font-size: 11px;
  text-align: center;
  line-height: 16px;
  margin-bottom: 16px;

  /* Red circle */
  &::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 5px;
    background: #DC2A2A;
    border-radius: 4px;
    line-height: 120%;
  }
}

.fullScreenRoundedIcon() {
  width: 60px;
  height: 60px;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  box-shadow: none;
}

.fullScreenStartRecordingIcon() {
  .fullScreenRoundedIcon();
  background-image: url('./assets/start.svg');
}

.fullScreenStopRecordingIcon() {
  .fullScreenRoundedIcon();
  background-image: url('./assets/stop.svg');
}

.startRecording {
  @media (--small-viewport) {
    .fullScreenStartRecordingIcon();
  }

  .livenessCamera & {
    .fullScreenStartRecordingIcon();
  }
}

.stopRecording {
  @media (--small-viewport) {
    .fullScreenStopRecordingIcon();
  }

  .livenessCamera & {
    .fullScreenStopRecordingIcon();
  }
}