
.challenge {
  line-height: 36px;
}

.challengeTitle {
  font-weight: 600;
  font-size: 20px;
}

.introBullets {
  text-align: left;
}

.introBullet {
  padding-left: 46px;
  margin-bottom: 2em;
  list-style: none;
  position: relative;
}

.introIcon {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
}

.speak_out_loudIcon {
  background-image: url('assets/mic.svg');
}

.two_actionsIcon {
  background-image: url('assets/camera.svg');
}

.movement {
  background-image: url('assets/move-arrow.svg');
  display: inline-block;
  width: 65px;
  height: 21px;
  margin-top: 20px;
}

.movement-turnLeft {
  transform: rotate(180deg);
}

.recite {
  display: block;
  font-size: 54px;
  font-weight: 600;
  line-height: 1em;
  margin-top: 20px;
}
