@import (less) "../Theme/constants.css";

.challenge {
  line-height: 36px;
}

.challengeTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
}

.introCopy {
  margin-bottom: auto;
}

.introBullets {
  text-align: left;
  padding-left: 40px;

  @media (--small-viewport) {
    padding-left: 0;
  }
}

.introBullet {
  padding-left: 46px;
  margin-bottom: 24px;
  list-style: none;
  position: relative;
}

.bolder {
  font-weight: 600;
}

.introIcon {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
}

.speak_out_loudIcon {
  background-image: url('assets/mic.svg');
}

.two_actionsIcon {
  background-image: url('assets/camera.svg');
}

.movement {
  background-image: url('assets/move-arrow.svg');
  display: inline-block;
  width: 65px;
  height: 21px;
  margin-top: 16px;
}

.movement-turnLeft {
  transform: rotate(180deg);
}

.recite {
  display: block;
  font-size: 54px;
  font-weight: 600;
  line-height: 64px;
}

.actions {
  position: absolute;
  bottom: 48px;
  left: 16px;
  right: 16px;
}

.fullScreenCaptureActionsHintText() {
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
}

.captureActionsHint {
  @media (--small-viewport) {
    .fullScreenCaptureActionsHintText();
  }

  .livenessCamera & {
    .fullScreenCaptureActionsHintText();
  }

  &.recordAction {
    @media (--smaller-viewport) {
      display: none;
    }
  }
}
