@import (less) "../Theme/constants.css";

.challenge {
  line-height: 36px;
}

.challengeTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
}

.introCopy {
  margin-bottom: auto;
}

.introBullets {
  text-align: left;
  padding-left: 40px;

  @media (--small-viewport) {
    padding-left: 0;
  }
}

.introBullet {
  padding-left: 46px;
  margin-bottom: 24px;
  list-style: none;
  position: relative;
}

.bolder {
  font-weight: 600;
}

.introIcon {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
}

.speak_out_loudIcon {
  background-image: url('assets/mic.svg');
}

.two_actionsIcon {
  background-image: url('assets/camera.svg');
}

.moveHead {
  background-image: url('assets/move-arrow.svg');
  display: inline-block;
  width: 65px;
  height: 21px;
  margin-top: 16px;
}

.moveHead-left {
  transform: rotate(180deg);
}

.digits {
  display: block;
  font-size: 54px;
  font-weight: 600;
  line-height: 1em;
  margin-top: 4px;
}
