@import '../../Theme/constants';

.icon {
  @extend %icon-circle-background;
  height: 144 * $unit;
  width: 144 * $unit;
  background-size: contain;
  background-image: url('./assets/mobile-sent-large.svg');
  margin-bottom: 32 * $unit;
  margin-left: auto;
  margin-right: auto;
}

.submessage {
  margin-bottom: 0;
}

.boldMessage {
  margin-top: 0;
  margin-bottom: 32 * $unit;
  font-weight: 600;
}

.help {
  /* placeholder to namespace this with CSS modules */
}

.cancel {
  cursor: pointer;
}
