@import (less) "../../Theme/constants.css";

.icon {
  height: 9rem;
  background-size: contain;
  background-image: url('assets/mobile-notification-large.svg');
  margin-bottom: 2rem;
}

.submessage {
  margin-bottom: 0;
}

.boldMessage {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 600;
}

.cancel {
  line-height: 20px;
  font-size: 14px;
  width: 80px;
  margin: auto;
  color: @color-text-dark;
  box-shadow: inset 0 -1px 0 0 @color-primary-500;
  cursor: pointer;
  text-decoration: none;
}

.help {
  margin-bottom: 1.5rem;
}

.helpList {
  padding-left: 1.5rem;
}
