@import '../Theme/constants';

.wrapper {
  margin-top: 50 * $unit;
}

.icon {
  height: 64 * $unit;
  background-size: contain;
  background-image: url('./assets/complete.svg');
  margin-bottom: 24 * $unit;
}

.msQrCode {
  max-height: 35%;
  max-width: 35%;
}

.pin {
  margin-bottom: 4px;
}

.buttonContainer {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  color: pink;
}
