.wrapper {
  margin-top: 10.25rem;
}

.submessage {
  font-size: 20px;
  line-height: 32px;
}
.icon {
  height: 4rem;
  background-size: contain;
  background-image: url('assets/complete.svg');
  margin-bottom: 1.5rem;
}
