@import '../Theme/constants';

.wrapper {
  margin-top: 30 * $unit;
}

.icon {
  height: 64 * $unit;
  background-size: contain;
  background-image: url('./assets/complete.svg');
}

.msQrCode {
  max-height: 30%;
  max-width: 30%;
}

.pin {
  margin-bottom: 4px;
}

.title {
  font-size: 14px;
}

.buttonContainer {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  color: pink;
}
