{
  "sourceMaps": true,
  "presets": [
    "es2015-minimal",
    "stage-0"
  ],
  "plugins": [
    ["transform-decorators-legacy"],
    ["add-module-exports"],
    ["transform-es2015-modules-umd"],
    ["transform-react-jsx", { "pragma": "h" }]
  ]
}
