{
  "sourceMaps": true,
  "comments": true,
  "presets": [
    ["@babel/preset-env", { "useBuiltIns": false }],
    [
      "@babel/typescript",
      {
        "jsxPragma": "h"
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "h"
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-function-sent",
    "@babel/plugin-proposal-throw-expressions",
    "@babel/plugin-proposal-export-default-from"
  ]
}
