.byebug_history
.DS_Store
*.log
node_modules
es
/release/releaseSecret.js
test/tmp
test/UITestsReport
test/mock-server/*.pem
test/mock-server/frontend/
coverage/


/.idea/
*.iml
target/
/test/webtest/src/test/resources/local.properties
/test/webtest/src/test/resources/_*.properties
out/

/dist
/lib
.env

/onfido-sdk-web-sample-app
/aws
.vscode