.byebug_history
.DS_Store
*.log
build
node_modules
es
/release/releaseSecret.js
/dist/onfido.min.js
/lib/index.js
/lib/index.js.map
/dist/style.css.map
/dist/onfido.min.js.map
/dist/auth-sdk
/dist/index.html
/dist/images
test/tmp
test/UITestsReport
test/mock-server/*.pem
test/mock-server/frontend/
coverage/


/.idea/
*.iml
target/
/test/webtest/src/test/resources/local.properties
/test/webtest/src/test/resources/_*.properties
out/

dist
lib