/node_modules
/lib
/dist
/src/locales/**/*.json
/src/supported-documents/*.json
/test/mock-server/frontend
/test/mock-server/local
/test/webtest
/coverage
/auth-sdk/FaceTec
.percy.yml
/.idea/
.github/workflows
docker-compose-grid.yml
out/
test/README.md

