extends: stylelint-config-sass-guidelines

plugins:
  - stylelint-scss

rules:
  max-nesting-depth: 3
  property-no-unknown:
    - true
    - ignoreSelectors:
        - ':export'
  selector-class-pattern: ^[a-z0-9]+(?:[A-Z|\-|\_]{1,2}[a-z0-9]+)*$
  order/properties-alphabetical-order: null
  scss/percent-placeholder-pattern: ^_?[a-z0-9]+(?:-[a-z0-9]+)*$
  scss/at-mixin-pattern: ^_?[a-z0-9]+(?:-[a-z0-9]+)*$
  scss/dollar-variable-no-missing-interpolation: true
  function-parentheses-space-inside: null
