extends: stylelint-config-sass-guidelines

rules:
  max-nesting-depth: 3
  selector-class-pattern: ^[a-z0-9]+(?:[A-Z|\-|\_]{1,2}[a-z0-9]+)*$
  order/properties-alphabetical-order: null
  scss/at-mixin-pattern: ^_?[a-z]+(?:-[a-z]+)*$
