@import (less) "../Theme/constants.css";

.capture{
  width: 100%;
  padding: 1rem 1.5rem 3rem;
  color: #9b9b9b;
  display: flex;
}

.title {
  @media (--large) {
    margin-left: 3rem;
  }
}

.capture p {
  margin: 0;
}

.rectangle {
  //default value of react-webcam https://github.com/cezary/react-webcam
  @width-frame: 640;
  @height-frame: 480;

  //Spec of overlay
  @width-percent: 80%;
  @aspect-ratio: 1.57;

  /*
    From the equation below one can find out @height-percent
    aspect-ratio = (width-frame * width-percent) / (height-frame * height-percent)
   */
  @height-percent: (@width-frame * @width-percent) / (@height-frame * @aspect-ratio);

  width: @width-percent;
  height: @height-percent;
}
