.capture{
  width: 100%;
  padding: 1rem 1.5rem 3rem;
  color: #9b9b9b;
  display: flex;
}

.capture p {
  margin: 0;
}

.rectangle {
  //default value of react-webcam https://github.com/cezary/react-webcam
  @width-frame: 640;
  @height-frame: 480;

  //Spec of overlay
  @width-per: 80%;
  @aspect-ratio: 1.57;

  // @aspect-ratio = (@width-frame * @width-per) / (@height-frame * @height-per)
  @height-per: (@width-frame * @width-per) / (@height-frame * @aspect-ratio);

  width: @width-per;
  height: @height-per;
}
