{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "expect": true
  },
  "rules": {
    "prefer-arrow-callback": 2,
    "max-nested-callbacks": 0,
    # we should introduce these rules also on the root eslint file
    "space-before-blocks": 2,
    "indent": [2, 2, {"SwitchCase": 1, MemberExpression: 0}]
  }
}
