@use '~@onfido/castor';
@import '../Theme/constants';

.documentContainer {
  position: relative;
  overflow: hidden;
}

.faceContainer {
  position: static;
}

.optional {
  color: castor.color('content-secondary');
}

.submit-button {
  margin-top: castor.space(4);
}
