.submessage {
  margin-bottom: 48px;
}

.icon {
  height: 36px;
  width: 36px;
  margin-right: 14px;
  float: left;
  background-image: url('assets/complete-tick-small.svg');
}

.uploadList {
  display: inline-block;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 56px;
}

.uploadList li {
  margin-bottom: 24px;
  list-style: none;
  line-height: 36px;
  font-weight: 600;
  text-align: left;
}
