@import (less) "../Theme/constants.css";

.container {
  border-radius: 6px;
  text-align: left;
  color: #FFFFFF;
  margin-top: -1rem;
  margin-bottom: 27px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding: 20px 24px;
  @media (--small-viewport) {
    padding: 16px;
    margin-bottom: 48px;
  }
}

.container-error {
  &:extend(.container);
  background-color: #DC2A2A;
}

.container-warning {
  &:extend(.container);
  background-color: #2A7AB0;
}

.instruction {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 40px;
  @media (--small-viewport) {
    font-size: 13px;
    line-height: 20px;
    margin-left: 24px;
  }
}

@title-height: 28px;

.title {
  position: relative;
  margin-bottom: 4px;
  height: @title-height;
  @media (--small-viewport) {
    margin-bottom: 0px;
  }
}

@icon-width: 24px;
@icon-width-small: 16px;

.title-text {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  line-height: @title-height;
  padding-left: 16px + @icon-width;
  @media (--small-viewport) {
    font-size: 20px;
    padding-left: 8px + @icon-width-small;
  }
}

.title-icon {
  position: absolute;
  height: 100%;
  width: @icon-width;
  @media (--small-viewport) {
    width: @icon-width-small;
  }
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
}

.title-icon-error {
  &:extend(.title-icon);
  background-image: url('assets/errorLarge.svg');
  @media (--small-viewport) {
    background-image: url('assets/errorSmall.svg');
  }
}

.title-icon-warning {
  &:extend(.title-icon);
  background-image: url('assets/warningLarge.svg');
  @media (--small-viewport) {
    background-image: url('assets/warningSmall.svg');
  }
}
