@import '../Theme/constants';

.text {
  margin-top: 64 * $unit;
  margin-bottom: 80 * $unit;
}

.button-centered {
  margin: auto;
}

/* TEMP variables, styles below copied over from Button/style.scss for DS experiment */
$lg-btn-width-lg-screen: 272*$unit;
$lg-btn-width-sm-screen: 100%;

.button-lg {
  font-size: $font-size-small;
  width: $lg-btn-width-lg-screen;
  @media (--small-viewport) {
    width: $lg-btn-width-sm-screen;
  }
}
