@import '../Theme/constants';

.title {
  color: $color-title-text;
  font-weight: var(--font-weight-title);
  margin-bottom: 16 * $unit;
  font-family: var(--font-family-title);
}

.titleSpan {
  font-size: var(--font-size-title);
  line-height: 1.34;
  @media (--small-viewport) {
    font-size: 24 * $unit;
  }
}

.titleSpan:focus {
  outline: none;
}

.subTitle {
  color: $color-subtitle-text;
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-subtitle);
  font-family: var(--font-family-subtitle);
}

.titleWrapper {
  margin: 32 * $unit $large-text-margin 16 * $unit;
  flex-shrink: 0;
  @media (--small-viewport) {
    margin: 0 $small-text-margin 16 * $unit;
  }
}

.smaller {
  margin-top: 0;
}

.fullScreen {
  color: rgba(var(--color-neutral-white));
  margin: 0;
  z-index: 1;

  .title,
  .subTitle {
    color: rgba(var(--color-neutral-white));
  }

  .title {
    margin-bottom: 8 * $unit;
  }

  .titleSpan {
    font-size: var(--font-size-base);
    line-height: 1.5;
  }
}
