@import '../Theme/constants';

.previewsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;

  &.previewsContainerIsFullScreen {
    top: 0;
  }
}

.title {
  flex: 0 0 auto;
}

.message {
  margin: 32 * $unit 0 16 * $unit;
  @media (--small-viewport) {
    margin: 16 * $unit 0;
  }
}

.actions {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-right: -16 * $unit;
  @media (--small-viewport) {
    margin-right: -8 * $unit;
  }

  &.vertical {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.singleAction {
  display: block;
  margin-bottom: 8 * $unit;
}

.retakeAction {
  margin-right: 16 * $unit;
  @media (--small-viewport) {
    margin-right: 8 * $unit;
  }

  &.vertical {
    margin-right: 0;
    margin-top: 8 * $unit;
    width: $lg-btn-width-lg-screen;
  }
}
