.captures {
  margin-bottom: 1.5rem;
}

.image {
  max-width: 92%;
  display: block;
  margin: 0 auto;
}

.btn-outline {
  background-color: transparent;
  border: solid 1px #ccc;
  color: #9b9b9b;
}

.actions{
  padding: 0;
}

.pdfIcon {
  display: inline-block;
  width: 100%;
  height: 200px;
  max-width: 100%;
  margin: 0 auto 1rem;

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 50%;
  background-image: url('assets/pdf-success.svg');
}
