@import (less) "../Theme/constants.css";

.previewsContainer {
  /*
  The height of this div needs to be calculated minus the margin top and bottom of its parent
  This will allow the div to have a consistent height and spacing between its children
  It will also allow the actions to always sit above the "powered-by-onfido" logo
   */
  height: calc(~"100% - 112px");
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (--large) {
    top: 32px;
  }
}

.previewsContainer :global .onfido-sdk-ui-Title-titleWrapper {
  @media (--large) {
    margin-top: 0;
  }
}

.actionsContainer {
  margin: 0rem 3rem;
  @media (--small-viewport) {
    margin: 0rem @small-text-margin;
  }
}

.captures {
  height: 264px;
  margin-bottom: 2rem;
  @media (--small-viewport) {
    height: 206px;
    margin-bottom: 1rem;
  }
}

.image {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 3px;
}

.btn-outline {
  width: 136px;
  border: 1px solid #8A9293;
  border-radius: 28px;
  background-color: transparent;
  color: #585E5F;
  line-height: 16px;
  @media (--small-viewport) {
    width: 112px;
    padding: 0px 16px;
  }
}

.actions{
  padding: 0;
}

.pdfIcon {
  display: inline-block;
  width: 100%;
  height: 180px;
  max-width: 100%;
  margin: 1rem auto 1rem;

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 20%;
  background-image: url('assets/pdf-success.svg');
}

.error {
  display: block;
  @media (--small-viewport) {
    font-size: 11px;
  }
  .btn-outline {
    width: 90%;
  }
}
