@import (less) "../Theme/constants.css";

.previewsContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.previewsContainerIsFullScreen {
    top: 0;
  }
}

.livenessVideo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.actionsContainer {
  margin: 0rem 3rem;
  @media (--small-viewport) {
    margin: 0rem @small-text-margin;
  }
}

.title {
  flex: 0 0 auto;
}

.captures {
  height: 90%;
  width: 100%;
  margin-bottom: 2rem;

  @media (--small-viewport) {
    margin-bottom: 1rem;
  }
}

.imageWrapper {
  position: relative;
  display: inline-block;

  &.fullscreenImageWrapper {
    position: static;
  }
}

.image {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 3px;
}

.pdfImage {
  margin: 0;
}

.retake {
  width: 136px;
  padding: 0;
  @media (--small-viewport) {
    width: 112px;
  }
}

.actions{
  padding: 0;
}

.pdfIcon {
  display: inline-block;
  width: 180px;
  height: 180px;
  max-width: 100%;
  margin: 1rem auto 1rem;

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url('assets/pdf-success.svg');
}

.error {
  display: block;
  @media (--small-viewport) {
    font-size: 11px;
  }
  .btn-outline {
    width: 90%;
  }
}
