@import (less) "../Theme/constants.css";

.title {
  padding-bottom: 0px;
}
.captures {
  margin-bottom: 2rem;
  @media (--small-viewport) {
    margin-bottom: 3rem;
  }
}

.image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 3px;
}

.btn-outline {
  border: 1px solid #8A9293;
  border-radius: 28px;
  background-color: transparent;
  color: #585E5F;
  line-height: 16px;
}

.actions{
  padding: 0;
}

.pdfIcon {
  display: inline-block;
  width: 100%;
  height: 180px;
  max-width: 100%;
  margin: 0 auto 1rem;

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 20%;
  background-image: url('assets/pdf-success.svg');
}

.error {
  display: block;
  @media (--small-viewport) {
    font-size: 11px;
  }
  .btn-outline {
    width: 90%;
  }
}
