@import '../Theme/constants';

.manel {
  position: relative;
  display: inline-block; /* <= shrinks container to image size */
  transition: transform 150ms ease-in-out;
}

.manel img { /* <= optional, for responsiveness */
   display: block;
   max-width: 100%;
   height: auto;
}

.manel svg {
  position: absolute;
  top: 0;
  left: 0;
}

.manel:hover {
  transform: rotate( 15deg );
}

.previewsContainer {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16 * $unit;

  &.previewsContainerIsFullScreen {
    top: 0;
  }
}

.actionsContainer {
  margin: 0 48 * $unit;
  @media (--small-viewport) {
    margin: 0 $small-text-margin;
  }
}

.title {
  flex: 0 0 auto;
}

.message {
  margin: 32 * $unit $large-text-margin 16 * $unit;
  @media (--small-viewport) {
    margin: 0 $small-text-margin 16 * $unit;
  }
}

.actions {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-right: -16 * $unit;
  @media (--small-viewport) {
    margin-right: -8 * $unit;
  }
}

.singleAction {
  display: block;
  margin-bottom: 8 * $unit;
}

.retakeAction {
  margin-right: 16 * $unit;
  @media (--small-viewport) {
    margin-right: 8 * $unit;
  }
}
