@import (less) "../Theme/constants.css";

.previewsContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.actionsContainer {
  margin: 0rem 3rem;
  @media (--small-viewport) {
    margin: 0rem @small-text-margin;
  }
}

.captures {
  height: 90%;
  width: 100%;
  margin-bottom: 2rem;
  
  @media (--small-viewport) {
    margin-bottom: 1rem;
  }
}

.image {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 3px;
}

.pdfImage {
  margin: 0;
}

.btn-outline {
  width: 136px;
  border: 1px solid #8A9293;
  border-radius: 28px;
  background-color: transparent;
  color: #585E5F;
  line-height: 16px;
  @media (--small-viewport) {
    width: 112px;
    padding: 0px 16px;
  }
}

.actions{
  padding: 0;
}

.pdfIcon {
  display: inline-block;
  width: 180px;
  height: 180px;
  max-width: 100%;
  margin: 1rem auto 1rem;

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url('assets/pdf-success.svg');
}

.error {
  display: block;
  @media (--small-viewport) {
    font-size: 11px;
  }
  .btn-outline {
    width: 90%;
  }
}
