@import (less) "../Theme/constants.css";

.previewsContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.previewsContainerIsFullScreen {
    top: 0;
  }
}

.actionsContainer {
  margin: 0 48*@unit;
  @media (--small-viewport) {
    margin: 0 @small-text-margin;
  }
}

.title {
  flex: 0 0 auto;
}

.retake {
  width: 136*@unit;
  padding: 0;
  @media (--small-viewport) {
    width: 112*@unit;
  }
}

.actions{
  padding: 0;
}

.error {
  display: block;
  @media (--small-viewport) {
    font-size: @font-size-x-small;
  }
  .btn-outline {
    width: 90%;
  }
}
