@import (less) "../../Theme/constants.css";

.content {
  position: relative;
  margin: 0 40px 1rem;
  flex: 1;
  flex-direction: column;
  display: flex;

  @media (--small-viewport) {
    margin: 0 24px 1rem;
  }
}

.subTitle {
  font-size: 14px;

  &::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('assets/warningSmall.svg');
    vertical-align: middle;
    line-height: 1em;
    margin-right: 5px;
    margin-top: -2px;
  }
}

.bolder {
  font-weight: 600;
}

.makeSure {
  color: #2C3E4F;
  font-weight: 600;
  margin-bottom: 1em;

  @media (--small-viewport) {
    text-align: left;
  }
}

.image {
  background-image: url('assets/doc.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  flex: 1;
}
