@import (less) "../Theme/constants.css";

.methods {
  @media (--large) {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
  }
}

.wrapper{
  display: flex;
  flex-direction: column;
}

.select {
  max-width: 100%;
}
