@import (less) "../Theme/constants.css";

.methods {
  @media (--small-viewport) {
    margin-top: 3rem;
  }
  @media (--large) {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
  }
}

.wrapper{
  display: inline-flex;
  flex-direction: column;
}
