@import '../../Theme/constants';

.controls {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  margin: 48 * $unit 16 * $unit;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.captureCountdown {
  align-self: center;
  border-radius: 4 * $unit;
  display: flex;
  height: 4 * $unit;
  margin-top: 16 * $unit;
  overflow: hidden;
  width: 50%;

  > span {
    border-radius: 4 * $unit;
  }

  > .active {
    width: 0%;
    background-color: $color-white;
    animation: captureCountdown 6s forwards linear;
  }

  > .background {
    width: 100%;
    background-color: $color-icon-button-hover;
    opacity: 0.15;
    animation: captureCountdown 6s forwards linear reverse;
  }
}

@keyframes captureCountdown {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.shutter {
  cursor: pointer;
  outline-offset: 6 * $unit;
  background-color: var(--color-background-button-camera);
  font-size: inherit;
  border-radius: 50%;
  border: 3 * $unit solid $color-black;
  box-shadow: 0 0 0 4 * $unit $color-white;
  height: 56 * $unit;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 56 * $unit;

  &:hover {
    background-color: var(--osdk-color-background-button-camera-hover);
  }

  &:active {
    background-color: var(--osdk-color-background-button-camera-active);
  }
}
