@import (less) "../Theme/constants.css";

.trigger {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #00C8A0;
}

.trigger::after {
  background-image: url('assets/arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  height: 7*@unit;
  margin-left: 6*@unit;
  transform: rotate(180deg);
  vertical-align: middle;
  width: 11*@unit;
}

.isExpanded .trigger::after {
  transform: rotate(0deg);
}
