@use '@onfido/castor';

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 castor.space(4);
  box-sizing: border-box;
}
