@import '../../Theme/constants';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonsContainer {
  padding: 0 16 * $unit;
}

.buttonsContainer > button {
  margin-top: 16 * $unit;
}
