@import (less) "../Theme/constants.css";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 8*@unit @large-text-margin 0;
  @media (--small-viewport) {
    margin: 0 16*@unit;
  }
}

.option {
  background: #fff;
  border-radius: 4*@unit;
  border: 1px solid #8B9094;
  color: #2C3E4F;
  cursor: pointer;
  display: flex;
  line-height: 1.43;
  margin-bottom: 8*@unit;
  padding: 16*@unit;
  position: relative;

  &::after {
    background: url('assets/right.svg') no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 12*@unit;
    position: absolute;
    right: 16*@unit;
    top: 50%;
    transform: translateY(-6*@unit);
    width: 8*@unit;
  }
}

.content {
  text-align: left;
  align-self: center;
  flex-basis: 100%;
}

.optionMain {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 18*@unit;
  min-height: 48*@unit;
}

.label {
  margin: 0;
  font-weight: 600;
  line-height: 1.5;
}

.hint {
  color: #565B5E;
  font-size: 14*@unit;
  margin-bottom: 4.57*@unit;
}

.warning {
  font-weight: 600;
  font-size: 14*@unit;
  margin-bottom: 6.86*@unit;
}

.tag {
  display: inline-block;
  background-color: #F3F3F4;
  font-size: 14*@unit;
  padding: 0 13.71*@unit;
  border-radius: 13.71*@unit;
  margin-left: -13.71*@unit;
  margin-top: 2.29*@unit;
}

.icon {
  max-width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  flex-shrink: 0;
  width: 48*@unit;
  height: 48*@unit;
  margin-right: 16*@unit;
  align-self: flex-start;
}

@document-types: passport, national-identity-card, driving-licence,
                 bank-building-society-statement, utility-bill, letter;

.loop(@index: 1) when (@index <= length(@document-types)) {
  @value: extract(@document-types, @index);
  .icon-@{value} {
    background-image: url('assets/icon-@{value}.svg');
  }
  .loop(@index + 1);
}
.loop();
