@import (less) "../Theme/constants.css";

.option {
  cursor: pointer;

  float: left;

  width: 100%/3;

  font-size: 14px;
  line-height: 20px;
  padding: 0 9px 0;

  @media (--small-viewport) {
    float: none;
    margin: 2rem auto;
    width: 100%;
  }
}

.icon {
  height: 128px;
  width: 120px;
  max-width: 100%;
  margin: 0 auto 0.5rem;

  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/*Solution for responsive square https://spin.atomicobject.com/2015/07/14/css-responsive-square/*/
.icon:after {
  height: 128px;
  width: 120px;
  content: "";
  display: block;
  padding-bottom: 100%;
  /*this is done to compensate later for the increase in border size*/
  padding-top: 2px;
  border: 2px solid #8A9293;
  border-radius: 4px;
}

.option:hover .icon:after {
  border: solid 2px #20c7a0;
  padding-top: 0;
  position: relative;
}

.icon.icon-passport {
  background-image: url('assets/icon-passport.svg');
}
.option:hover .icon.icon-passport {
  background-image: url('assets/icon-passport-hover.svg');
}
.icon.icon-identity {
  background-image: url('assets/icon-identity.svg');
}
.option:hover .icon.icon-identity {
  background-image: url('assets/icon-identity-hover.svg');
}
.icon.icon-license {
  background-image: url('assets/icon-license.svg');
}
.option:hover .icon.icon-license {
  background-image: url('assets/icon-license-hover.svg');
}

.selector {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 5.5rem;
  @media (--small-viewport) {
    margin-top: 0;
  }
}
