@import (less) "../Theme/constants.css";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 8px @large-text-margin 0;
  @media (--small-viewport) {
    margin: 0 16px;
  }
}

.option {
  background: @color-white;
  border-radius: 4px;
  border: 1px solid @color-border-grey;
  color: @color-darkblue;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
  padding: 16px;
  position: relative;

  &::after {
    background: url('assets/right.svg') no-repeat;
    content: '';
    display: block;
    height: 12px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-6px);
    width: 8px;
  }
}

.content {
  text-align: left;
  align-self: center;
  flex-basis: 100%;
}

.optionMain {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 18px;
  min-height: 48px;
}

.label {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.hint {
  color: @color-hint;
  margin-bottom: 4px;
}

.warning {
  font-weight: 600;
  margin-bottom: 6px;
}

.tag {
  display: inline-block;
  background-color: @color-another-grey;
  padding: 0 12px;
  border-radius: 12px;
  margin-left: -12px;
  margin-top: 2px;
}

.icon {
  max-width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  margin-right: 16px;
  align-self: flex-start;
}

@document-types: passport, national-identity-card, driving-licence,
                 bank-building-society-statement, utility-bill, letter;

.loop(@index: 1) when (@index <= length(@document-types)) {
  @value: extract(@document-types, @index);
  .icon-@{value} {
    background-image: url('assets/icon-@{value}.svg');
  }
  .loop(@index + 1);
}
.loop();
