@import (less) "../Theme/constants.css";

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

.option {
  background: #fff;
  border-radius: 4px;
  border: 1px solid #8B9094;
  color: #2C3E4F;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
  padding: 16px;
  position: relative;

  &::after {
    background: url('assets/right.svg') no-repeat;
    content: '';
    display: block;
    height: 12px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-6px);
    width: 8px;
  }
}

.content {
  text-align: left;
  align-self: center;
}

.optionMain {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 48px;
}

.label {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.hint {
  color: #565B5E;
  margin-bottom: 4px;
}

.warning {
  font-weight: 600;
}

.tag {
  display: inline-block;
  background-color: #F3F3F4;
  padding: 0 12px;
  border-radius: 12px;
  margin-left: -12px;
  margin-top: 8px;
}

.icon {
  max-width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  margin-right: 16px;
  align-self: flex-start;
}

@identity-types: passport, national-identity-card, driving-licence;
@poa-types: bank-statement, utility-bill, letter, credit-card-statement;

.loop(@index) when (@index <= length(@identity-types)) {
  @value: extract(@identity-types, @index);
  .icon-@{value} {
    background-image: url('assets/icon-@{value}.svg');

    .option:hover & {
      background-image: url('assets/icon-@{value}-hover.svg');  
    }
  }
  .loop(@index + 1);
}
.loop(1);

.loop(@index) when (@index <= length(@poa-types)) {
  @value: extract(@poa-types, @index);
  .icon-@{value} {
    background-image: url('assets/icon-@{value}.svg');
  }
  .loop(@index + 1);
}
.loop(1);
