@import (less) "../../Theme/constants.css";

.text {
  margin-top: 64px;
  margin-bottom: 80px;
}

.instructions {
  text-align: left;
  border-radius: 3px;
  border: 1px solid #D8D8D8;
  font-size: 14px;
  margin: 30px 0 24px;
  position: relative;
  padding: 24px 24px 12px;
}

.instructionsTitle {
  font-weight: 600;
  margin: 0 0 8px;
}

.recovery {
  background: #585E5F;
  border-radius: 1em;
  color: #fff;
  font-weight: 600;
  left: 20px;
  line-height: 24px;
  padding: 0 15px;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

.steps {
  padding: 0;
  margin: 0;
}

.step {
  margin: 0 15px 10px;
}

.button {
  margin-left: auto;
  margin-right: auto;
}
