@import (less) "../../Theme/constants.css";

@font-size: 14;
@font-size-units: @font-size*@unit;
@sub-unit: 1em/@font-size;

.instructions {
  /* We change the font-size of this parent, so all children must use the
     sub-unit to relate to "pixels" */
  font-size: @font-size-units;

  text-align: left;
  border-radius: 3*@sub-unit;
  border: 1px solid #D8D8D8;
  margin: 30*@sub-unit 0 24*@sub-unit;
  position: relative;
  padding: 24*@sub-unit 24*@sub-unit 12*@sub-unit;
}

.instructionsTitle {
  font-weight: 600;
  margin: 0 0 8*@sub-unit;
}

.recovery {
  background: #585E5F;
  border-radius: 14*@sub-unit;
  color: #fff;
  font-weight: 600;
  left: 20*@sub-unit;
  line-height: 24*@sub-unit;
  padding: 0 15*@sub-unit;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

.steps {
  padding: 0;
  margin: 0;
}

.step {
  margin: 0 15*@sub-unit 10*@sub-unit;
}

.button {
  margin-left: auto;
  margin-right: auto;
}
