@import '../Theme/constants';

.controls {
  position: absolute;
  bottom: 48 * $unit;
  left: 16 * $unit;
  right: 16 * $unit;
  display: flex;
  flex-direction: column;
}

.progress {
  align-self: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4 * $unit;
  color: $color-white;
  font-size: var(--font-size-small);
  margin-top: 16 * $unit;
  padding: 4 * $unit 10 * $unit;
  text-transform: uppercase;
}

.holdStill,
.instructions {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.holdStill > span,
.instructions > span {
  color: $color-white;
  font-family: var(--osdk-font-family-body);
  font-size: var(--font-size-base);
  margin-bottom: 8 * $unit;

  @media (--medium-viewport) {
    font-size: var(--font-size-x-small);
    margin-bottom: 0;
  }
}

.holdStill .text,
.instructions > .title {
  font-size: 24 * $unit;
  font-weight: 600;

  @media (--medium-viewport) {
    font-size: var(--font-size-large);
  }
}

.instructions .success {
  background-image: url('../Complete/assets/complete.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 48 * $unit;
  margin-bottom: 96 * $unit;
}

.holdStill .loading {
  align-self: center;
  border-radius: 4 * $unit;
  display: flex;
  height: 4 * $unit;
  margin-top: 16 * $unit;
  overflow: hidden;
  width: 50%;

  > span {
    border-radius: 4 * $unit;
  }

  > .active {
    flex: 0;
    background-color: $color-white;
    animation: holdStill-loading 6s forwards linear;
  }

  > .background {
    flex: 1;
    background-color: $color-icon-button-hover;
    opacity: 0.15;
    animation: holdStill-loading 6s forwards linear reverse;
  }
}

@keyframes holdStill-loading {
  0% {
    flex: 0;
  }

  100% {
    flex: 1;
  }
}

.buttonPlaceholder {
  height: 48 * $unit;
}
