@import '../Theme/constants';

.instructions {
  position: absolute;
  z-index: 1000;
  bottom: 128 * $unit;
  left: 16 * $unit;
  right: 16 * $unit;
  height: 144 * $unit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.instructions .title {
  color: $color-white;
  font-size: 24 * $unit;
  font-family: $font-family;
}

.actions {
  position: absolute;
  z-index: 1000;
  bottom: 48 * $unit;
  left: 16 * $unit;
  right: 16 * $unit;

  &.disabled {
    z-index: 0;
  }
}

.btn:extend(.btn, .btn-centered, .btn-primary) {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

@mixin _full-screen-rounded-icon() {
  cursor: pointer;
  width: 60 * $unit;
  height: 60 * $unit;
  font-size: inherit;
  border: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: $color-transparent;
  box-shadow: none;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }

  &:hover:not(:disabled) {
    filter: brightness(200%);
  }

  &:active {
    filter: brightness(80%);
  }
}

@mixin _full-screen-stop-recording-icon() {
  @include _full-screen-rounded-icon();
  background-image: url('./assets/stop.svg');
}

.stopRecording {
  @include _full-screen-stop-recording-icon();
}
