@import '../Theme/constants';

.instructions {
  position: absolute;
  z-index: 3;
  bottom: 128 * $unit;
  left: 16 * $unit;
  right: 16 * $unit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.instructions > span {
  color: $color-white;
  font-family: $font-family;
  font-size: 16 * $unit;
  margin-bottom: 0.5em;

  @media (--medium-viewport) {
    font-size: 12 * $unit;
    margin-bottom: 0;
  }
}

.instructions > .title {
  font-size: 24 * $unit;

  @media (--medium-viewport) {
    font-size: 20 * $unit;
  }
}

.progress {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 16 * $unit;
  right: 16 * $unit;
  top: 48 * $unit;
  z-index: 3;
}

.progress .step {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 2 * $unit;
  height: 4 * $unit;
  margin: 0 3 * $unit;
  overflow: hidden;
  width: 96 * $unit;
}

.progress .gauge {
  background-color: $color-white;
  display: block;
  width: 0%;
  height: 100%;
}

@keyframes gaugeFill {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.progress .step.active .gauge {
  animation: gaugeFill 0.5s ease-in-out forwards;
}

.success {
  background-image: url('../Complete/assets/complete.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 48 * $unit;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 160 * $unit;
  z-index: 3;
}

.actions {
  position: absolute;
  z-index: 3;
  bottom: 48 * $unit;
  left: 16 * $unit;
  right: 16 * $unit;

  &.disabled {
    z-index: 0;
  }

  .instructions {
    bottom: 72 * $unit;
  }
}

.btn:extend(.btn, .btn-centered, .btn-primary) {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
