@import (less) "./constants.css";

.step {
  background: #f3f3f3;
  margin: 0 1.5rem 4rem;
  @media (--large) {
    margin: 0 3rem 4rem;
  }
}

.title {
  font-weight: 300;
  font-size: 24px;
  margin-top: 0;
  color: #4a4a4a;
  width: 100%;
  text-align: center;
  padding-bottom: 1.8rem;
  padding-top: 1.2rem;
}

.mbottom-large {
  margin-bottom: 4rem;
}

.btn {
  display: inline-block;
  font-weight: 500;
  border-radius: .25rem;
  border: none;
  padding: .375rem .5rem;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.btn:disabled {
  opacity: .5;
}

.btn-centered {
  margin: auto;
}

.btn-primary {
  background-color: #2980b9;
  border: solid 1px #2980b9;
  color: #fff;
}

:global(.onfido-modal-content){
  .btn-primary {
    background: #20c7a0;
    width: 215px;
    border: none;
    display: block;
    @media (--small-viewport) {
      width: initial;
    }
  }

  .btn {
    font-size: 14px;
    border-radius: 2rem;
    padding: 1.2rem 2rem;
    text-align: center;
  }
}

.center {
  text-align: center;
}

.overlay-shape {
  border: 1px solid #00c8a0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  /* 300px box-shadow, so 600px by 600px, so as to definitely cover the modal */
  box-shadow: 0 0 0 300px rgba(0, 0, 0, 0.7);
}

.overlay {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
}

.server-error {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0,0,0,0.85);
  font-size: 2rem;
  align-items: center;

  &:not(.hidden) {
    display: flex;
  }

  p {
    margin: 4rem 0;
  }
}
