@custom-media --small-viewport (max-width: 30em);
@custom-media --large (min-width: 30em);
body {
  font-size: .875rem;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  line-height: 1.5;
  font-weight: 300;
}

body, button {
  -webkit-font-smoothing: antialiased;
}

button {
  font: inherit;
  font-size: inherit;
  line-height: inherit;
}

*, *:before, *:after {
  box-sizing: border-box;
}

#onfido-mount {
  @media (--small-viewport) {
    height: 100%;
  }
}

.onfido-verify {
  display: flex;
  transition: all .5s cubic-bezier(.65, .05, .36, 1);
}

.onfido-camera-active {
  transform: translateX(-50%);
}

.onfido-icon--document {
  background-image: url('document.svg');
  background-size: auto 4rem;
}

.onfido-icon--face {
  background-size: 4rem auto;
  background-image: url('face.svg');
}

.onfido-inline-modal {
  @media (--small-viewport) {
    height: 100%;
  }
}

.onfido-modal {
  display: none;
}

.vanilla-modal .onfido-modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s, z-index 0s 0.2s;
  @media (--small-viewport) {
    padding-top: 3vw;
    padding-bottom: 3vw;
  }
}

.vanilla-modal.modal-visible .onfido-modal {
  z-index: 99;
  opacity: 1;
  transition: opacity 0.2s;
}

.onfido-modal > * {
  margin: auto;
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;
}

.onfido-modal-inner {
  /* Relative positioning so overflow affects absolute children */
  position: relative;
  overflow: auto;

  width: 94vw;
  max-width: 32rem;
  height: 600px;
  text-align: center;
  max-height: ~"calc(100% + 4px)";
  background: #f3f3f3 url('powered-by-onfido.svg') 50% ~"calc(100% - 20px)" no-repeat;
  border-radius: 3px;
  @media (--small-viewport) {
    width: 100%;
    height: 100%;
  }
}

.onfido-modal-content {
  color: #9b9b9b;
  font-size: 18px;
  position: absolute;
  width: 100%;
  max-height: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.modal-visible .onfido-modal-inner {
  z-index: 100;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.2s, transform 0.2s;
}

.onfido-close {
  color: #9b9b9b;
  left: auto;
  right: 0;
  z-index: 4;
  transition: all .5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.onfido-active .onfido-close {
  color: #fff;
}

.onfido-video-wrapper {
  position: relative;
}

.onfido-video-cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.onfido-loader {
  display: block;
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
}

.loader {
  width: 48px;
  height: 48px;
  margin: 0 auto 1.5rem auto;
}

@keyframes ball-scale-ripple-multiple {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }
  70% {
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    opacity: 0.0;
  }
}

.ball-scale-ripple-multiple {
  position: relative;
  transform: translateX(25px);
}

.ball-scale-ripple-multiple > div:nth-child(0) {
  animation-delay: -0.8s;
}

.ball-scale-ripple-multiple > div:nth-child(1) {
  animation-delay: -0.6s;
}

.ball-scale-ripple-multiple > div:nth-child(2) {
  animation-delay: -0.4s;
}

.ball-scale-ripple-multiple > div:nth-child(3) {
  animation-delay: -0.2s;
}

.ball-scale-ripple-multiple > div {
  animation-fill-mode: both;
  position: absolute;
  top: -2px;
  left: -26px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid #ccc;
  animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
}

.Dropdown-root {
  position: relative;
  margin-top: 1rem;
  text-align: center;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 8px 10px;
  transition: all 200ms ease;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
