@custom-media --small-viewport (max-width: 30em);
@custom-media --large (min-width: 30em);


#onfido-mount {
  font-size: .875rem;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  line-height: 1.5;
  font-weight: 300;

  @media (--small-viewport) {
    height: 100%;
  }

  *, *:before, *:after {
    box-sizing: border-box;
  }

  button {
    font: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}
