.loading {
  color: #5D6B78;
  font-size: 20px;
  line-height: 32px;
  margin: 8px;
  float: left;
}

.mobileInput {
  font-size: 16px;
}

.phoneNumberContainer :global .react-phone-number-input__icon {
  height: 30px;
  width: 30px;
  border: none;
}

.phoneNumberContainer :global .rrui__select__options:not(.rrui__select__options--menu) {
  width: 438px;
}

.phoneNumberContainer button {
  border-bottom: none;
}

.phoneNumberContainer input {
  border-bottom: none;
}
