.loading {
  color: #5D6B78;
  font-size: 20px;
  line-height: 32px;
  margin: 8px;
  float: left;
}

.mobileInput {
  font-size: 16px;
}

.phoneNumberContainer {
  float: left;
  width: 100%;
  padding: 8px 12px;
}

.phoneNumberContainer :global .react-phone-number-input__icon {
  height: 1.8em;
  width: 1.8em;
  border: none;
  display: block;
}

.phoneNumberContainer :global .rrui__select__arrow {
  color: #2C3E4F;
}

.phoneNumberContainer :global .rrui__select__options:not(.rrui__select__options--menu) {
  width: 438px;
}

.phoneNumberContainer button {
  border-bottom: none;
}

.phoneNumberContainer input {
  width: 100%;
  border-bottom: none;
}
