.loading {
  color: #5D6B78;
  font-size: 20px;
  line-height: 32px;
  margin: 8px;
  float: left;
}

.mobileInput {
  font-size: 16px;
}

.numberInput img {
   width: 33px;
   height: 24px;
}

.phoneNumberContainer svg {
   width: 33px;
   height: 24px;
}

.phoneNumberContainer button {
  width: 40px;
  border-bottom: none;
}
.phoneNumberContainer input {
  border-bottom: none;
}
