@import '../Theme/constants';

/* "Loading" phone number input placeholder text */
.loading {
  color: rgba(var(--ods-color-content-placeholder));
  font-size: var(--font-size-large);
  line-height: 1.6;
  margin: 8 * $unit-large;
  float: left;
}

.mobileInput {
  font-size: var(--font-size-base);
}

.phoneNumberContainer {
  float: left;
  width: 100%;
  padding: 8 * $unit 12 * $unit;
}

.phoneNumberContainer :global {
  .react-phone-number-input__icon {
    height: 28.8 * $unit;
    width: 28.8 * $unit;
    border: 0;
    display: block;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .PhoneInputCountryIcon--border {
    background-color: transparent;
    box-shadow: none;
  }
}

.phoneNumberContainer {
  button {
    border-bottom: 0;
  }

  input {
    overflow: hidden;
    width: 100%;
    border-bottom: 0;
  }

  button:focus,
  input:focus {
    outline: auto 5px -webkit-focus-ring-color;
  }
}

.flagIcon {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
