@import (less) "../../Theme/constants.css";

.icon {
  height: 9rem;
  background-size: contain;
  background-image: url('assets/connection-large.svg');
  margin-top: 40px;
  margin-bottom: 32px;
}

.cancel {
  line-height: 20px;
  font-size: 14px;
  width: 50px;
  margin: auto;
  color: @color-text-dark;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 0 @color-primary-500;
  cursor: pointer;
}

.help {
  margin-bottom: 1.5rem;
}

.helpList {
  padding-left: 1.5rem;
}
