.icon {
  height: 9rem;
  background-size: contain;
  background-image: url('assets/connection-large.svg');
  margin-bottom: 2rem;
}

.submessage {
  margin-bottom: 2.5rem;
}

.cancel {
  line-height: 20px;
  font-size: 14px;
  width: 50px;
  margin: auto;
  color: #2C3E4F;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 0 #00C8A0;
  cursor: pointer;
}

.help {
  margin-bottom: 1.5rem;
}
