@custom-media --large (min-width: 480px);
@custom-media --small-viewport (max-width: 479px);
@custom-media --smaller-viewport (max-width: 320px);
@large-text-margin: 40px;
@small-text-margin: 24px;

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.width-parent-relative(@base-width,@parent-width) {
  width: 100%*(@base-width/@parent-width)
}
