@custom-media --large (min-width: 480px);
@custom-media --small-viewport (max-width: 479px);
@custom-media --smaller-viewport (max-width: 359px);
@large-text-margin: 40px;
@small-text-margin: 24px;

/* Solid colors */
@color-accent-primary: #00C8A0;
@color-accent-secondary: #00C9A1;
@color-text-dark: #2C3E4F;
@color-camera-error-overlay: #1C1F21;
@color-white: #ffffff;
@color-black: #000000;
@color-small-print: #0F2536;
@color-background: #D8D8D8;
@color-background-secondary: #f3f3f4;
@color-button-text: #585E5F;
@color-button-border: #8A9293;
@color-tips-pill: #5D6B78;
@color-input-border: #667080;
@color-selectors-border: #8B9094;
@color-hint: #565B5E;
@color-spinner: #ccc;
@color-error: #DC2A2A;
@color-warning: #2A7AB0;

/* Transparent colors */
@color-transparent: transparent;
@color-help-container: rgba(138,146,147,0.35);
@color-preview-button-background: rgba(15, 37, 54, 0.85);
@color-modal-overlay: rgba(0, 0, 0, 0.6);
@color-camera-overlay: rgba(0, 0, 0, 0.7);
@color-box-shadow-one: rgba(28,31,33,0);
@color-box-shadow-two: rgba(28,31,33,0.35);

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.width-parent-relative(@base-width,@parent-width) {
  width: 100%*(@base-width/@parent-width)
}
