@custom-media --large (min-width: 30em);
@custom-media --small-viewport (max-width: 30em);
@large-text-margin: 40px;
@small-text-margin: 24px;

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
