@import (less) "./constants.css";

.step {
  width: 100%;
  min-height: 100%;
  height: 0;/*necessary for IE11, see: https://stackoverflow.com/questions/24396205/flex-grow-not-working-in-internet-explorer-11-0*/
  position: relative;
  display: flex;
  flex-direction: column;
}


.fullScreenStep {
  overflow: hidden;
  border-radius: 8*@unit;
}

.fullHeightContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fullHeightMobileContainer {
  @media (--small-viewport) {
    .fullHeightContainer();
  }
}

.navigationBar{
  flex: 0 0 auto;
}

.content {
  flex: 1 0 auto;
  position: relative;
  display: flex;
  > * {
    flex-grow: 1;
  }
}

.fullScreenContentWrapper {
  position: static;
}

.footer {
  width: 100%;
  height: 32*@unit;
  margin-top: 16*@unit;
  flex: 0 0 auto;

  background-image: url('assets/powered-by-onfido.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;

  .fullScreenStep & {
    /* A full screen step will be a video/stream step, with a darker background */
    background-image: url('assets/powered-by-onfido-light.svg');
  }

  /* hide the footer if view height is too small */
  @media (max-height: 420px) {
    z-index: -1;
  }
}

.thickWrapper {
  margin: 0 @large-text-margin;
  @media (--small-viewport) {
    margin: 0 @small-text-margin;
  }
}

.mbottom-large {
  margin-bottom: 88*@unit;
  @media (--small-viewport) {
    margin-bottom: 40*@unit;
  }
}

.btn {
  height: 56*@unit;
  font: inherit;
  font-weight: 500;
  line-height: inherit;

  text-decoration: none;
  text-align: center;
  cursor: pointer;

  display: inline-block;
  border: none;
  border-radius: 32*@unit;
  padding: 0;
  outline: none;

  /*
   * Beware! Hack!
   * In order to get the font-size of this button be dynamic without messing about
   * the relative sizing of its margins+paddings+etc., we set the font-size only
   * on the :first-line
   * This will obviously break with multiline buttons, so we explicitly forbid
   * them here, but eventually we should find a better solution for this
   */
  white-space: nowrap;
  &:first-line {
    font-size: 14*@unit;
  }

  @media (--small-viewport) {
    padding: 19.2*@unit 32*@unit;
  }
}

.btn-centered {
  margin: auto;
}

.btn-primary {
  /*layout*/
  display: block;
  width: 216*@unit;
  border-radius: 28*@unit;
  font-weight: 600;
  line-height: 16*@unit;
  @media (--small-viewport) {
    width: 100%;
  }
  border: none;

  background: #00C8A0;

  /*text*/
  color: #fff;

  &:first-line {
    font-size: 16*@unit;
  }
}

.btn-alternative {
  background-color: rgba(15, 37, 54, 0.85);
  border-radius: 4*@unit;
  color: #fff;
  font-weight: 600;
  height: auto;
  line-height: 1.4;
  padding: 11.2*@unit 19.6*@unit;
}

.btn-ghost {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.btn-outline {
  border: 1px solid #8A9293;
  border-radius: 28*@unit;
  background-color: transparent;
  color: #585E5F;
  line-height: 16*@unit;
  padding: 19.2*@unit 32*@unit;
}

.center {
  text-align: center;
}

.icon {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  height: 64*@unit;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12*@unit 24*@unit 0 24*@unit;
  @media (--large) {
    padding: 24*@unit 48*@unit 0 48*@unit;
  }
}

.actions .btn-primary {
  @media (--small-viewport) {
    width: 152*@unit;
  }
}

.help {
  padding: 24*@unit 16*@unit 16*@unit;
  text-align: left;
  box-shadow: inset 0 0 0 1px rgba(138,146,147,0.35);
  border-radius: 8*@unit;
}

.header {
  border-radius: 12*@unit;
  background-color: #5D6B78;
  color: #FFFFFF;
  font-size: 14*@unit;
  font-weight: 600;
  position: absolute;
  margin-top: -12*@unit;
  margin-left: 12*@unit;
  padding: 0 16*@unit;
}

.helpList {
  margin: 0;
}
