@import (less) "./constants.css";

.step {
  padding-top: 48px;
  margin-bottom: 64px;
  background: #f3f3f4;
}

.thickWrapper {
  margin: 0rem @large-text-margin;
  @media (--small-viewport) {
    margin: 0rem @small-text-margin;
  }
}

.imageWrapper {
  margin: 0rem 3rem;
  @media (--small-viewport) {
    margin: 0rem @small-text-margin;
  }
}

.mbottom-large {
  margin-bottom: 5.5rem;
  @media (--small-viewport) {
    margin-bottom: 2.5rem;
  }
}

.btn {
  height: 56px;
  font: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: inherit;

  text-decoration: none;
  text-align: center;
  cursor: pointer;

  display: inline-block;
  border: none;
  border-radius: 2rem;
  padding: 0;
  outline: none;
  @media (--small-viewport) {
    padding: 1.2rem 2rem;
  }

  &-centered {
    margin: auto;
  }

  &-primary {
    /*layout*/
    display: block;
    width: 216px;
    border-radius: 28px;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    @media (--small-viewport) {
      width: 100%;
    }
    border: none;

    background: #00C8A0;

    /*text*/
    color: #fff;
  }

  &-alternative{
    background-color: #2980b9;
  }
}

.center {
  text-align: center;
}

.icon {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  height: 4rem;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: .75rem 1.5rem 0 1.5rem;
  @media (--large) {
    padding: 1.5em 3rem 0 3rem;
  }
}

.actions .btn-primary {
  @media (--small-viewport) {
    width: 152px;
  }
}

.help {
  padding: 1.5rem 1rem 1rem;;
  text-align: left;
  box-shadow: inset 0 0 0px 1px rgba(138,146,147,0.35);
  border-radius: 8px;
}

.header {
  border-radius: 12px;
  background-color: #5D6B78;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  margin-top: -12px;
  margin-left: 12px;;
  padding: 0rem 1rem;
}

.helpList {
  margin: 0rem;
}
