@import './constants';

.step {
  width: 100%;
  min-height: 100%;
  height: 0; /*necessary for IE11, see: https://stackoverflow.com/questions/24396205/flex-grow-not-working-in-internet-explorer-11-0*/
  position: relative;
  display: flex;
  flex-direction: column;
}

.fullScreenStep {
  overflow: hidden;
  border-radius: 8 * $unit;
  background: $color-black;
}

.fullHeightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.fullHeightMobileContainer {
  @media (--small-viewport) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
}

.navigationBar {
  flex: 0 0 auto;
}

.content {
  /* Content height is 100% - non content height (total height of footer + total height of navbar) */
  $non-content-height: $footer-height + $footer-margin + $navigation-height +
    $navigation-padding-top;
  height: calc(100% - #{$non-content-height});
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  @media (--small-viewport) {
    $non-content-height: $footer-height + $footer-margin +
      $navigation-height-sm-screen + $navigation-padding-top-sm-screen;
    height: calc(100% - #{$non-content-height});
  }

  > * {
    @extend %global-padding;
    flex-grow: 1;
  }
}

.scrollableContent {
  flex: 1 1 auto; /* .content will fit remaining space */
  overflow: auto; /* scrollbar will only appear when child element exceeds .content height */
  height: 100%;
}

.fullScreenContentWrapper {
  position: static;
}

.actionsContainer {
  margin-top: 8 * $unit;
  flex-grow: 0;
}

$footer-top-margin: 0 * $unit;
$cobrand-logo-width: 80 * $unit;
$logo-height: 32 * $unit;

%_logo {
  height: $logo-height;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.cobrandFooter {
  display: flex;
  height: $footer-height;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: $footer-top-margin $large-text-margin 0;
  @media (--small-viewport) {
    margin: $footer-top-margin $small-text-margin 0;
  }
  @media (--smaller-viewport) {
    margin: $footer-top-margin $smaller-text-margin 0;
  }

  .cobrandLabel {
    color: $color-neutral-700;
    font-size: 10 * $unit;
    display: flex;
    flex-direction: row;
    max-width: 80%;

    /* if "XXX powered by Onfido" exceeds the allowed space (with paddings on both sides of the screen), */
    /* then XXX should by truncated */
    .cobrandText {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 5 * $unit; /* space between XXX and " powered by" text */
      flex-grow: 1;
    }

    .poweredBy {
      flex-shrink: 0;
    }

    .fullScreenStep & {
      color: $color-white;
      z-index: 0; /* to make the text visible, otherwise it is hidden by overlay */
    }
  }

  .logoCobrandImage {
    @extend %_logo;
    width: $cobrand-logo-width;
    margin-top: 0;
    flex: 0 0 auto;
  }

  .logo {
    @extend %_logo;
    background-image: url('./assets/onfido-logo.svg');
    width: $cobrand-logo-width;
    margin-top: 0;
    flex: 0 0 auto;

    .fullScreenStep.textCobrandLogo & {
      background-image: url('./assets/onfido-logo-light.svg');
      width: $cobrand-logo-width;
      margin-top: 0;
      z-index: 0; /* to make the logo visible, otherwise it is hidden by overlay */
    }
  }
}

.footer {
  width: 100%;
  height: $footer-height;
  flex: 0 0 auto;

  .fullScreenStep & {
    z-index: 1;
  }

  .logo {
    @extend %_logo;
    margin-top: $footer-height - $logo-height;

    .defaultLogo & {
      background-image: url('./assets/watermark.svg');
    }

    .fullScreenStep.defaultLogo & {
      /* A full screen step will be a video/stream step, with a darker background */
      background-image: url('./assets/watermark_night.svg');
    }

    .noLogo & {
      background-image: none;
    }
  }
}

.center {
  text-align: center;
}

.alignTextLeft {
  text-align: left;
}

.icon {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  height: 64 * $unit;
}

.header {
  border-radius: 10 * $unit-small;
  background-color: $color-tips-pill;
  color: $color-white;
  font-size: $font-size-small;
  font-weight: 600;
  position: absolute;
  margin-top: -10 * $unit-small;
  margin-left: 10 * $unit-small;
  padding: 0 14 * $unit-small;
}

.help {
  padding: 24 * $unit 16 * $unit 16 * $unit;
  text-align: left;
  box-shadow: inset 0 0 0 1 * $unit $color-help-container;
  border-radius: 8 * $unit;
  margin-bottom: 24 * $unit;
}

.helpList {
  margin: 0;
  padding-left: 24 * $unit;
}

.link {
  cursor: pointer;
  line-height: 1.43;
  font-size: $font-size-small;
  font-family: $font-family;
  margin: auto;
  padding: 2px;
  text-decoration: none;
  border: 1px solid transparent;
  border-bottom-color: $color-primary-500;
  background-color: $color-transparent;
  color: $color-body-text;

  &:not(:disabled) {
    &:hover {
      background-color: $color-primary-button-hover;
      color: $color-white;
    }

    &:active {
      background-color: $color-primary-button-active;
      color: $color-white;
    }
  }

  &:visited {
    text-decoration: none;
    color: $color-body-text;
    font-size: $font-size-small;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.warning {
  background-color: transparent;

  &:hover {
    color: $color-warning-button-text-hover;
    background-color: $color-primary-button-hover;
  }

  &:active {
    background-color: $color-primary-button-active;
  }
}

.error {
  background-color: transparent;

  &:hover,
  &:active {
    color: $color-error;
  }

  &:hover {
    background-color: $color-error-button-hover;
  }

  &:active {
    background-color: $color-error-button-active;
  }
}

/* Modal */

.portal > * {
  // When the modal is closed, overlay div has no css class
  // This selector should be overridden by the `&--after-open` class below
  opacity: 0;
}

.modalBody {
  /*! Just a placeholder no namespace this element using css modules*/
}

.modalOverlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: $color-modal-overlay;
  transition: opacity $modal-animation-duration,
    z-index 0s $modal-animation-duration;

  &--after-open {
    opacity: 1;
  }

  &--before-close {
    opacity: 0;
  }
}

.modalInner {
  .portal & {
    z-index: -1;
    opacity: 0;
    transform: scale(0);
    transition: opacity $modal-animation-duration,
      transform $modal-animation-duration, z-index 0s $modal-animation-duration;
  }

  .modalOverlay--after-open & {
    z-index: 100;
    opacity: 1;
    transform: scale(1);
    transition: opacity $modal-animation-duration,
      transform $modal-animation-duration;
  }
}
