@import (less) "./constants.css";

.step {
  width: 100%;
  min-height: 100%;
  height: 0;/*necessary for IE11, see: https://stackoverflow.com/questions/24396205/flex-grow-not-working-in-internet-explorer-11-0*/
  position: relative;
  display: flex;
  flex-direction: column;
}


.fullScreenStep {
  overflow: hidden;
  border-radius: 8px;
}

.fullHeightContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fullHeightMobileContainer {
  @media (--small-viewport) {
    .fullHeightContainer();
  }
}

.navigationBar{
  flex: 0 0 auto;
}

.content {
  flex: 1 0 auto;
  /* We want `flex-grow: 1` for modern browsers, but older `-webkit-box-flex`
     browsers are really buggy with their equivalent! So we opt for a slightly
     inferior, but less buggy experience of turning off flex-grow entirely for
     these older browsers, specifically. */
  -webkit-box-flex: 0;

  position: relative;
  display: flex;
  > * {
    flex-grow: 1;
  }
}

.fullScreenContentWrapper {
  position: static;
}

.footer {
  width: 100%;
  height: 48px;
  flex: 0 0 auto;

  background-image: url('assets/powered-by-onfido.svg');
  background-position: center bottom;
  background-repeat: no-repeat;
  z-index: 1;

  .fullScreenStep & {
    /* A full screen step will be a video/stream step, with a darker background */
    background-image: url('assets/powered-by-onfido-light.svg');
  }
}

.thickWrapper {
  margin: 0rem @large-text-margin;
  @media (--small-viewport) {
    margin: 0rem @small-text-margin;
  }
}

.mbottom-large {
  margin-bottom: 5.5rem;
  @media (--small-viewport) {
    margin-bottom: 2.5rem;
  }
}

.btn {
  height: 56px;
  font: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: inherit;

  text-decoration: none;
  text-align: center;
  cursor: pointer;

  display: inline-block;
  border: none;
  border-radius: 2rem;
  padding: 0;
  outline: none;
  @media (--small-viewport) {
    padding: 1.2rem 2rem;
  }
}

.btn-centered {
  margin: auto;
}

.btn-primary {
  /*layout*/
  display: block;
  width: 216px;
  border-radius: 28px;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  @media (--small-viewport) {
    width: 100%;
  }
  border: none;

  background: #00C8A0;

  /*text*/
  color: #fff;
}

.btn-alternative {
  background-color: rgba(15, 37, 54, 0.85);
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  height: auto;
  line-height: 1.4;
  padding: .8em 1.4em;
}

.btn-ghost {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.btn-outline {
  border: 1px solid #8A9293;
  border-radius: 28px;
  background-color: transparent;
  color: #585E5F;
  line-height: 16px;
  padding: 1.2rem 2rem;
}

.center {
  text-align: center;
}

.icon {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  height: 4rem;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: .75rem 1.5rem 0 1.5rem;
  @media (--large) {
    padding: 1.5em 3rem 0 3rem;
  }
}

.actions .btn-primary {
  @media (--small-viewport) {
    width: 152px;
  }
}

.help {
  padding: 1.5rem 1rem 1rem;;
  text-align: left;
  box-shadow: inset 0 0 0px 1px rgba(138,146,147,0.35);
  border-radius: 8px;
}

.header {
  border-radius: 12px;
  background-color: #5D6B78;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  margin-top: -12px;
  margin-left: 12px;;
  padding: 0rem 1rem;
}

.helpList {
  margin: 0rem;
}
