@import (less) "../Theme/constants.css";

.step {
  background: #f3f3f3;
  margin: 0 1.5rem 4rem;
  @media (--large) {
    margin: 0 3rem 4rem;
  }
}

.title {
  font-weight: 300;
  font-size: 24px;
  margin-top: 0;
  color: #4a4a4a;
  width: 100%;
  text-align: center;
  padding-bottom: 1.8rem;
  padding-top: 1.2rem;
}

.mbottom-large {
  margin-bottom: 4rem;
}

.btn {
  font: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: inherit;

  text-decoration: none;
  text-align: center;
  cursor: pointer;

  display: inline-block;
  border: none;
  border-radius: 2rem;
  padding: 1.2rem 2rem;

  outline: none;

  &:disabled {
    opacity: .5;
  }

  &-centered {
    margin: auto;
  }

  &-primary {
    /*layout*/
    display: block;
    width: 215px;
    @media (--small-viewport) {
      width: initial;
    }
    border: none;

    background: #20c7a0;

    /*text*/
    color: #fff;
  }

  &-alternative{
    background-color: #2980b9;
  }
}

.center {
  text-align: center;
}

.overlay-shape {
  border: 1px solid #00c8a0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  /* 300px box-shadow, so 600px by 600px, so as to definitely cover the modal */
  box-shadow: 0 0 0 300px rgba(0, 0, 0, 0.7);
}

.overlay {
  display: flex;
  width: 100%;
  height: 100%;
}

.icon {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  height: 4rem;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: .75rem 1.5rem 0 1.5rem;
  @media (--large) {
    padding: 1.5em 3rem 0 3rem;
  }
}
