@use '~@onfido/castor';
@use './tokens' as onfidoSdk;
@import './constants';

:global {
  @include castor.Field();
  @include castor.FieldLabel();
  @include castor.HelperText();
  @include castor.Validation();
  @include castor.Asterisk();
  @include castor.Button();
  @include castor.Input();
  @include castor.Select();
  @include castor.Icon();
}

:root {
  // Note: color-scheme from castor.day is stripped away by webpack
  @include castor.day();
  @include onfidoSdk.tokens();
}

.root {
  /*
    Note: The WebSDK is used in Onfido's workflow builder, which also uses castor.
    The prevent interference we scope our adjusted castor classes to our root.
    The :global classes endup like .onfido-sdk-ui-Theme-root .ods-button in the compiled css.
  */
  :global(.ods-field-label) {
    text-align: left;
  }

  :global(.ods-popover) {
    max-width: unset;
  }

  :global(.ods-button) {
    border-radius: var(--osdk-border-radius-button);
  }

  /* stylelint-disable-next-line selector-class-pattern */
  :global(.ods-button.-action--primary) {
    background-color: var(--osdk-color-background-button-primary);
    color: var(--osdk-color-content-button-primary-text);
    border-color: var(--osdk-color-border-button-primary);

    &:active {
      background-color: var(--osdk-color-background-button-primary-active);
    }

    /* stylelint-disable max-nesting-depth */
    @media (hover: hover) {
      &:hover {
        background-color: var(--osdk-color-background-button-primary-hover);
      }
    }
    /* stylelint-enable max-nesting-depth */

    &:disabled {
      background-color: rgba(var(--ods-color-neutral-300));
      border-color: transparent;
    }
  }

  /* stylelint-disable-next-line selector-class-pattern */
  :global(.ods-button.-action--secondary) {
    background-color: var(--osdk-color-background-button-secondary);
    color: var(--osdk-color-content-button-secondary-text);
    border-color: var(--osdk-color-border-button-secondary);

    &:active {
      background-color: var(--osdk-color-background-button-secondary-active);
      border-color: var(--osdk-color-border-button-secondary);
    }

    /* stylelint-disable max-nesting-depth */
    @media (hover: hover) {
      &:hover {
        background-color: var(--osdk-color-background-button-secondary-hover);
        border-color: var(--osdk-color-border-button-secondary);
      }
    }
    /* stylelint-enable max-nesting-depth */
  }
}

.step {
  width: 100%;
  min-height: 100%;
  height: 0; /*necessary for IE11, see: https://stackoverflow.com/questions/24396205/flex-grow-not-working-in-internet-explorer-11-0*/
  position: relative;
  display: flex;
  flex-direction: column;
}

.trialBackground {
  background: url('./assets/trial-background.png');
}

.fullScreenStep {
  overflow: hidden;
  border-radius: 8 * $unit;
  background: $color-black;
}

.fullHeightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.fullHeightMobileContainer {
  @media (--small-viewport) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
}

.navigationBar {
  flex: 0 0 auto;
}

.content {
  /* Content height is 100% - non content height (total height of footer + total height of navbar) */
  $non-content-height: $footer-height + $footer-margin + $navigation-height +
    $navigation-padding-top;
  height: calc(100% - #{$non-content-height});
  display: flex;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  @media (--small-viewport) {
    $non-content-height: $footer-height + $footer-margin +
      $navigation-height-sm-screen + $navigation-padding-top-sm-screen;
    height: calc(100% - #{$non-content-height});
  }

  > * {
    @extend %global-padding;
    flex-grow: 1;
  }
}

.scrollableContent {
  flex: 1 1 auto; /* .content will fit remaining space */
  overflow: auto; /* scrollbar will only appear when child element exceeds .content height */
  height: 100%;
}

.edgeToEdgeContent {
  position: absolute;
  width: 100%;
}

.fullScreenContentWrapper {
  position: static;
}

.actionsContainer {
  margin-top: 8 * $unit;
  flex-grow: 0;
}

$footer-top-margin: 0 * $unit;
$cobrand-logo-width: 80 * $unit;
$logo-height: 32 * $unit;

%_logo {
  height: $logo-height;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.cobrandFooter {
  display: flex;
  height: $footer-height;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: $footer-top-margin $large-text-margin 0;
  @media (--small-viewport) {
    margin: $footer-top-margin $small-text-margin 0;
  }
  @media (--smaller-viewport) {
    margin: $footer-top-margin $smaller-text-margin 0;
  }

  .cobrandLabel {
    color: rgba(var(--ods-color-neutral-700));
    font-size: 10 * $unit;
    display: flex;
    flex-direction: row;
    max-width: 80%;

    /* if "XXX powered by Onfido" exceeds the allowed space (with paddings on both sides of the screen), */
    /* then XXX should by truncated */
    .cobrandText {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 5 * $unit; /* space between XXX and " powered by" text */
      flex-grow: 1;
    }

    .poweredBy {
      flex-shrink: 0;
    }

    .fullScreenStep & {
      color: $color-white;
      z-index: 0; /* to make the text visible, otherwise it is hidden by overlay */
    }
  }

  .logoCobrandImage {
    @extend %_logo;
    width: $cobrand-logo-width;
    margin-top: 0;
    flex: 0 0 auto;
    background-image: var(--osdk-dark-cobrand-logo-src);

    .fullScreenStep.logoCobrandImage & {
      background-image: var(--osdk-light-cobrand-logo-src);
      width: $cobrand-logo-width;
      margin-top: 0;
      z-index: 0; /* to make the logo visible, otherwise it is hidden by overlay */
    }
  }

  .logo {
    @extend %_logo;
    background-image: url('./assets/onfido-logo.svg');
    width: $cobrand-logo-width;
    margin-top: 0;
    flex: 0 0 auto;

    .fullScreenStep.onfidoCobrandLogo & {
      background-image: url('./assets/onfido-logo-light.svg');
      width: $cobrand-logo-width;
      margin-top: 0;
      z-index: 0; /* to make the logo visible, otherwise it is hidden by overlay */
    }
  }
}

.footer {
  width: 100%;
  height: $footer-height;
  flex: 0 0 auto;

  .fullScreenStep & {
    z-index: 1;
  }

  .logo {
    @extend %_logo;
    margin-top: $footer-height - $logo-height;

    .defaultLogo & {
      background-image: url('./assets/watermark.svg');
    }

    .fullScreenStep.defaultLogo & {
      /* A full screen step will be a video/stream step, with a darker background */
      background-image: url('./assets/watermark_night.svg');
    }

    .noLogo & {
      background-image: none;
    }
  }
}

.center {
  text-align: center;
}

.alignTextLeft {
  text-align: left;
}

.iconContainer {
  height: auto;
  width: 100%;
  flex: 2 1 16 * $unit;
  min-height: 16 * $unit;
  max-height: 144 * $unit;
  margin: auto;
}

.icon {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  height: 64 * $unit;
}

/* Header Pill element in Camera Permission Recovery, Cross Device Connected screens */
.header {
  @extend %header-highlight-pill;
  position: absolute;
  margin-top: -10 * $unit-small;
  margin-left: 10 * $unit-small;
}

/* Cross Device Connected screen Tips info box */
.help {
  padding: 24 * $unit 16 * $unit 16 * $unit;
  text-align: left;
  box-shadow: inset 0 0 0 1 * $unit var(--osdk-color-border-surface-modal);
  border-radius: 8 * $unit;
  margin-bottom: 24 * $unit;
}

.helpList {
  margin: 0;
  padding-left: 24 * $unit;
}

.link,
.textButton {
  font-family: var(--osdk-font-family-body);
  text-decoration: none;
  border: 1px solid transparent;
  border-bottom-color: var(--osdk-color-border-link-underline);
  background-color: transparent;
  color: var(--osdk-color-content-body);

  &:not(:disabled) {
    /* stylelint-disable max-nesting-depth */
    @media (hover: hover) {
      &:hover {
        background-color: var(--osdk-color-background-link-hover);
        color: var(--osdk-color-content-link-text-hover);
      }
    }
    /* stylelint-enable max-nesting-depth */

    &:active {
      background-color: var(--osdk-color-background-link-active);
      color: var(--osdk-color-content-link-text-hover);
    }
  }
}

.link:visited {
  text-decoration: none;
  color: var(--osdk-color-content-body);
}

.link,
.textButton {
  cursor: pointer;
  font-size: var(--onfido-font-size-small);
  line-height: 1.43;
  margin: auto;
  padding: 2px;

  &:disabled {
    cursor: not-allowed;
  }
}

/* Link/Text Button for Live Doc/Face Capture fallback on Warning popup */
.warningFallbackButton {
  color: var(--osdk-color-content-alert-info);
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color: var(--osdk-color-content-alert-info);

  @media (hover: hover) {
    &:hover {
      background-color: var(--osdk-color-background-alert-info-link-hover);
    }
  }

  &:active {
    background-color: var(--osdk-color-background-alert-info-link-active);
  }
}

/* Basic camera fallback for "Camera not working" Error popup */
.errorFallbackButton,
.error {
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color: var(--osdk-color-content-alert-error);

  &:hover,
  &:active {
    color: var(--osdk-color-content-alert-error);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--osdk-color-background-alert-error-link-hover);
    }
  }

  &:active {
    background-color: var(--osdk-color-background-alert-error-link-active);
  }
}

.button-centered {
  margin: auto;
}

.button-lg {
  font-size: var(--onfido-font-size-small);
  width: $lg-btn-width-lg-screen;
  @media (--small-viewport) {
    width: $lg-btn-width-sm-screen;
  }
}

.button-trial {
  background-color: var(--osdk-color-background-alert-error) !important;
  border-color: var(--osdk-color-background-alert-error) !important;

  &:hover {
    background-color: var(
      --osdk-color-background-alert-error-link-hover
    ) !important;
    border-color: var(
      --osdk-color-background-alert-error-link-hover
    ) !important;
  }

  &:active {
    background-color: var(
      --osdk-color-background-alert-error-link-active
    ) !important;
    border-color: var(
      --osdk-color-background-alert-error-link-active
    ) !important;
  }
}

.button-sm {
  font-size: var(--onfido-font-size-small);
  width: $sm-btn-width-lg-screen;
  @media (--small-viewport) {
    width: $sm-btn-width-sm-screen;
  }

  &.vertical {
    width: $lg-btn-width-lg-screen;
  }
}

/* Modal */

.portal > * {
  // When the modal is closed, overlay div has no css class
  // This selector should be overridden by the `&--after-open` class below
  opacity: 0;
}

.modalBody {
  /*! Just a placeholder no namespace this element using css modules*/
}

.modalOverlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: $color-modal-overlay;
  transition: opacity $modal-animation-duration,
    z-index 0s $modal-animation-duration;

  &--after-open {
    opacity: 1;
  }

  &--before-close {
    opacity: 0;
  }
}

.modalInner {
  .portal & {
    z-index: -1;
    opacity: 0;
    transition: opacity $modal-animation-duration,
      z-index 0s $modal-animation-duration;
  }

  .modalOverlay--after-open & {
    z-index: 100;
    opacity: 1;
    transition: opacity $modal-animation-duration;
  }
}
