@import (less) "../Theme/constants.css";

.step {
  background: #f3f3f4;
  margin: 4rem 2.5rem 4rem;
  @media (--small-viewport) {
    margin: 0 1rem 4rem;
  }
}

.title {
  width: 432px;
  height: 40px;
  color: #2C3E4F;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  margin: 1rem 0rem;
  @media (--small-viewport) {
    width: auto;
    font-size: 24px;
    line-height: 32px;
  }
}

.mbottom-large {
  margin-bottom: 4rem;
  @media (--small-viewport) {
    margin-bottom: 2.5rem;
  }
}

.btn {
  height: 56px;
  font: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: inherit;

  text-decoration: none;
  text-align: center;
  cursor: pointer;

  display: inline-block;
  border: none;
  border-radius: 2rem;
  padding: 1.2rem 2rem;

  outline: none;

  &:disabled {
    opacity: .5;
  }

  &-centered {
    margin: auto;
  }

  &-primary {
    /*layout*/
    display: block;
    width: 215px;
    border-radius: 28px;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    @media (--small-viewport) {
      width: initial;
    }
    border: none;

    background: #00C8A0;

    /*text*/
    color: #fff;
  }

  &-alternative{
    background-color: #2980b9;
  }
}

.center {
  text-align: center;
}

.overlay-shape {
  border: 1px solid #00c8a0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  /* 300px box-shadow, so 600px by 600px, so as to definitely cover the modal */
  box-shadow: 0 0 0 300px rgba(0, 0, 0, 0.7);
}

.overlay {
  display: flex;
  width: 100%;
  height: 100%;
}

.icon {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  height: 4rem;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: .75rem 1.5rem 0 1.5rem;
  @media (--large) {
    padding: 1.5em 3rem 0 3rem;
  }
}

.help {
  padding: 1.5rem 1rem 1rem;;
  text-align: left;
  box-shadow: inset 0 0 0px 1px rgba(138,146,147,0.35);
  border-radius: 8px;
}

.header {
  border-radius: 12px;
  background-color: #5D6B78;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  margin-top: -12px;
  margin-left: 12px;;
  padding: 0rem 1rem;
}

.helpList {
  margin: 0rem;
}
