/* stylelint-disable function-parentheses-space-inside */

@mixin tokens() {
  --unit: (1/16) * 1em;

  /* Font Variables */
  --font-family: 'Open Sans', sans-serif;
  --font-family-title: var(--font-family);
  --font-family-subtitle: var(--font-family);
  --font-family-body: var(--font-family);

  --font-size-base: calc(16 * var(--unit));

  --font-size-title: calc(30 * var(--unit));
  --font-size-subtitle: var(--font-size-base);
  --font-size-body: var(--font-size-base);

  --font-size-large: calc(20 * var(--unit));
  --font-size-small: calc(14 * var(--unit));
  --font-size-x-small: calc(11 * var(--unit));

  --font-weight-title: 600;
  --font-weight-subtitle: 600;
  --font-weight-body: 500;

  /* General UI element background color settings */
  --color-background: rgba(var(--ods-color-neutral-050));
  --color-warning: rgba(var(--ods-color-primary-500));
  --color-error: rgba(220, 42, 42);

  /* TODO: not really required now, should do a full check after Phase 1 customisations implemented to be sure */
  --color-primary: rgba(var(--ods-color-primary-500));
  --color-primary-hover: rgba(var(--ods-color-primary-400));
  --color-primary-active: rgba(var(--ods-color-primary-600));

  /* Primary Button customisations */
  /* TODO: Button border colors */
  --osdk-color-background-button-primary-text: rgba(
    var(--ods-color-content-on-action)
  );
  --osdk-color-background-button-primary: var(--color-primary);
  --osdk-color-background-button-primary-hover: var(--color-primary-hover);
  --osdk-color-background-button-primary-active: var(--color-primary-active);
  --osdk-color-background-button-primary-disabled: rgba(
    var(--ods-color-neutral-300)
  );

  /* Secondary Button customisations */
  /* TODO: Button border colors */
  --osdk-color-background-button-secondary-text: var(--color-primary);
  --osdk-color-background-button-secondary: rgba(
    var(--ods-color-background-action-subtle)
  );
  --osdk-color-background-button-secondary-hover: rgba(
    var(--ods-color-background-action-subtle-hover)
  );
  --osdk-color-background-button-secondary-active: rgba(
    var(--ods-color-background-action-subtle)
  );
  --osdk-color-background-button-secondary-border: var(--color-primary);
  --osdk-color-background-button-secondary-border-hover: var(
    --color-primary-hover
  );
  --osdk-color-background-button-secondary-border-active: var(
    --color-primary-active
  );

  /* Button group customisations */
  --osdk-border-radius-button: var(--ods-border-radius-medium);
  --osdk-button-group-vertical: false;

  /* Document Type Selectors option button colors */
  --selectors-box-shadow-hover: 0 0 0 2px var(--color-primary-hover);
  --selectors-box-shadow-active: 0 0 0 2px var(--color-primary-active);

  /* Back button colors */
  --osdk-color-background-button-back-icon: $color-transparent;
  --osdk-color-background-button-back-icon-hover: rgba(
    var(--ods-color-neutral-400)
  );
  --osdk-color-background-button-back-icon-active: rgba(
    var(--ods-color-neutral-600)
  );

  /* Close (modal) button colors */
  --osdk-color-background-button-close-icon: $color-transparent;
  --osdk-color-background-button-close-icon-hover: rgba(
    var(--ods-color-neutral-400)
  );
  --osdk-color-background-button-close-icon-active: rgba(
    var(--ods-color-neutral-600)
  );

  /* Camera button colors */
  --osdk-color-background-button-camera: rgba(var(--ods-color-neutral-white));
  --osdk-color-background-button-camera-hover: var(
    --osdk-color-background-button-primary-hover
  );
  --osdk-color-background-button-camera-active: var(
    --osdk-color-background-button-primary-active
  );
}

/* stylelint-enable function-parentheses-space-inside */
