@mixin tokens() {
  --font-family: 'Open Sans', sans-serif;

  --unit: (1/16) * 1em;
  --font-size-base: calc(16 * var(--unit));

  --unit-large: calc((1 / 20) * 1em);
  --font-size-large: calc(20 * var(--unit));

  --unit-small: calc((1 / 14) * 1em);
  --font-size-small: calc(14 * var(--unit));

  --unit-x-small: calc((1 / 11) * 1em);
  --font-size-x-small: calc(11 * var(--unit));

  --font-size-title: calc(30 * var(--unit));

  /* SDK specific Button styles */
  --button-height: 56px;

  --lg-btn-width-lg-screen: calc(272 * var(--unit-small));
  --lg-btn-width-sm-screen: 100%;

  --sm-btn-width-lg-screen: calc(200 * var(--unit-small));
  --sm-btn-width-sm-screen: calc(160 * var(--unit-small));

  --color-body-text: var(--color-neutral-900);
  --color-title-text: var(--color-neutral-800);
  --color-error: 220,42,42;
  --color-warning: var(--color-primary-500);
  --color-subtitle-text: var(--color-body-text);
  --color-background: var(--color-neutral-white);

  /* Warning message button text color */
  --color-warning-button-text-hover: var(--color-neutral-white);

  /* Error message button colors */
  --color-error-button-hover: var(--color-error-200);
  --color-error-button-active: var(--color-error-100);

  /* Selectors button styles */
  --selectors-text-color: var(--color-body-text);
  --selectors-border: 1px solid rgba(139, 144, 148);
  --selectors-box-shadow-hover: 0 0 0 2px rgba(var(--color-primary-400));
  --selectors-box-shadow-active: 0 0 0 2px rgba(var(--color-primary-600));

  /* Button colors */
  --color-primary-button-hover: var(--color-primary-400);
  --color-primary-button-active: var(--color-primary-600);
  --color-primary-button-disabled: var(--color-neutral-300);

  --color-small-button: 15, 37, 54, 0.85;
  --color-small-button-hover: 15, 37, 54, 0.6;
  --color-small-button-active: 15, 37, 54, 0.85;

  --color-icon-button: var(--color-transparent);
  --color-icon-button-hover: var(--color-neutral-400);
  --color-icon-button-active: var(--color-neutral-600);

  /* Camera button colors */
  --color-camera-button: var(--color-neutral-white);
  --color-camera-button-hover: var(--color-primary-button-hover);
  --color-camera-button-active: var(--color-primary-button-active);
  --color-camera-button-disabled: var(--color-neutral-800);

  /* Solid colors */
  --color-icon-temporary: 237, 238, 239; // Closest color: color-neutral-300

  --color-border: var(--color-neutral-600);
  --color-divider: 222, 225, 228; // Color between color-neutral-300 and color-neutral-400

  --color-camera-error-overlay: 28, 31, 33; // Closest color: color-neutral-900
  --color-tips-pill: 93, 107, 120;
  --color-input-border: 102, 112, 128;

  /* Transparent colors */
  --color-transparent: transparent;
  --color-help-container: var(--color-neutral-600);
  --color-modal-overlay: var(--color-neutral-black), 0.6;
  --color-camera-overlay: var(--color-neutral-black), 0.7;
  --color-navbar-gradient-one: 28, 31, 33, 0;
  --color-navbar-gradient-two: 28, 31, 33, 0.35;
}
