.actions {
  position: absolute;
  bottom: 48px;
  left: 16px;
  right: 16px;
}

.btn:disabled {
  background-color: #8A9293;
}

.btn {
  background-color: white;
  border-radius: 50%;
  border: 3px solid black;
  box-shadow: 0px 0px 0px 4px white;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 56px;
  cursor: pointer;
  outline: none;
}
