@import (less) "../Theme/constants.css";

.actions {
  position: absolute;
  bottom: 48px;
  left: 16px;
  right: 16px;
}

.btn:disabled {
  background-color: @color-button-border;
}

.btn {
  background-color: @color-white;
  border-radius: 50%;
  border: 3px solid @color-black;
  box-shadow: 0px 0px 0px 4px @color-white;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 56px;
  cursor: pointer;
  outline: none;
}
