.container {
  height: 96px;
  width: 30rem;
  border: 1px solid #2C3E4F;
  border-radius: 4px;
  background-color: #FFFFFF;
  margin: 1rem;
  margin-top: 2.5rem;
}

.copy {
  height: 48px;
  color: #2C3E4F;
  font-size: 16px;
  text-align: left;
  line-height: 24px;
  float: left;
  margin-top: 26px;
  margin-bottom: 22px;
  margin-left: 14px;
}

.header {
  font-weight: 600;
}

.submessage {
  margin: 0px;
  font-size: 14px;
  float: left;
}

.icon {
  height: 72px;
  width: 72px;
  -moz-border-radius: 72px 72px;
  -webkit-border-radius: 72px 72px;
  border-radius: 72px 72px;
  background-color: #00C8A0;
  background-image: url('assets/cross-device-small-icon.svg');
  background-repeat: no-repeat;
  background-position: 25% 50%;
  display: block;
  float: left;
  margin: 12px 14px;
  margin-right: 0px;
}

.chevron {
  height: 12px;
  width: 8px;
  float: right;
  margin-right: 19px;
  margin-top: 42px;
  background-image: url('assets/chevron-right.svg');
}
