@import (less) "../Theme/constants.css";

.navigation {
  height: 32px;
  padding: 16px 16px 0;
  text-align: left;
  box-sizing: content-box;
  @media (--small-viewport) {
    padding-left: 12px;
  }
}

.fullScreenNav {
  /*@media (--small-viewport) {*/
    background: linear-gradient(0deg, rgba(28,31,33,0) 0%, rgba(28,31,33,0.35) 100%);
    z-index: 3;
    .back {
      color: white;
    }
    .iconBack {
      background-image: url('assets/chevron-right-white.svg');
    }
  /*}*/
}

.disabled {
  display: none;
}

.back {
  width: 72px;
  height: 32px;
  color: #2C3E4F;
  font-size: 14px;
  line-height: 17px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.iconBack {
  height: 12px;
  width: 8px;
  background-image: url('assets/chevron-right-black.svg');
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(-1, 1);
  float: left;
  margin-top: 3px;
}

.back:hover .iconBack {
  background-image: url('assets/chevron-right-green.svg');
}

.back:focus {
  outline: none;
}
