@import (less) "../Theme/constants.css";

.navigation {
  height: 32px;
  padding: 16px 16px 0;
  text-align: left;
  box-sizing: content-box;
  @media (--small-viewport) {
    height: 38px;
    padding-left: 8px;
    padding-top: 10px;
  }
}

.fullScreenNav {
  background: linear-gradient(0deg, rgba(28,31,33,0) 0%, rgba(28,31,33,0.35) 100%);
  z-index: 3;
  .back {
    color: white;
    &:hover {
      .iconBack {
        background-color: transparent;
      }
    }
  }
  .iconBack {
    background-image: url('assets/back-white.svg');
  }
}

.disabled {
  display: none;
}

.back {
  height: 32px;
  color: #2C3E4F;
  padding: 0;
  font-size: 14px;
  line-height: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (--small-viewport) {
    width: auto;
  }
}

.iconBack {
  height: 32px;
  width: 32px;
  background-image: url('assets/back-black.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  display: inline-block;
  vertical-align: middle;
}

.label {
  display: none;
  margin-left: 8px;
}

.back:hover {
  .label {
    display: inline-block;

    @media (--small-viewport) {
      display: none;
    }
  }

  .iconBack {
    background-color: #D8DADC;
  }
}

.back:focus {
  outline: none;
}
