@use '@onfido/castor';

.faceNotDetected {
  background: #fff;
  width: 100%;
  height: 100%;
  border-radius: var(--ods-border-radius-large);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: castor.space(3);
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;

  .listItem {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: castor.space(1.5);
    text-align: left;

    svg {
      min-width: 32px;
    }

    .text {
      @include castor.font('300-regular');
      color: castor.color('content-secondary');
      font-style: normal;
      line-height: 24px;
      font-family: var(--osdk-font-family-body);
    }
  }
}
