@import '../Theme/constants';

.container {
  flex: 1 1 auto;
}

%_text {
  font-size: $font-size-small;
}

.label {
  @extend %_text;
}

.countryLabel {
  padding: 0 8 * $unit;
}

.caretIcon {
  background-color: $color-white;
  background-image: url('assets/search-icon.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 24 * $unit;
  width: 24 * $unit;
}

.fallbackHelp {
  margin-top: 8 * $unit;
}

.fallbackText {
  @extend %_text;
}

%_icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 13 * $unit;
  width: 13 * $unit;
  margin-right: 8 * $unit;
}

.helpIcon {
  @extend %_icon;
  background-image: url('assets/question-icon.svg');
}

.errorIcon {
  @extend %_icon;
  background-image: url('assets/alert-icon.svg');
}
