@import (less) "../Theme/constants.css";

.base {
  padding: 1.5rem;
  padding-top: 0;
  margin-top: 92px;
}

.text {
  text-align: center;
  padding: 0 1.5rem;
  width: 250px;
  margin: 0 auto;
}

.text + .text {
  margin-top: 1.5rem;
}

.processing {
  text-align: center;
}

.icon {
  background-image: url('assets/upload.svg');
  background-size: 4rem auto;
  @media (--small-viewport) {
    margin-top: 2rem;
  }
}

.error {
  color: #DC0505;
  margin-top: .75rem;
  font-weight: 400;
}

.dropzone {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  @media (--large) {
    min-height: 20rem;
    margin: 1rem;
    min-height: 16.5rem;
    height: 16.5rem;
    border: 1px dashed #585E5F;
    border-radius: 4px;
    background-color: #FFFFFF
  }
}
