@import (less) "../Theme/constants.css";

.container {
  display: flex;
}

.instructions {
  margin: 16px 0 0;
}

.instructionsCopy {
  padding: 1rem 24px;
  font-size: 14px;
  line-height: 1.43;

  @media (--small-viewport) {
    font-size: 16px;
  }
}

.error {
  &:extend(.text);
  color: @color-error;
}

.icon {
  background-size: 4rem auto;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.button {
  display: block;
  margin: 0 5px;
  width: auto;
  flex: 1;
  padding: 1.2rem 1rem;

  @media (--small-viewport) {
    flex-grow: 1;
  }
}

.identityIcon {
  &:extend(.icon);
  background-image: url('assets/upload.svg');

  @media (--small-viewport) {
    background-image: url('assets/camera.svg');
  }
}

.proofOfAddressIcon {
  background-image: url('assets/letter-upload.svg');
  background-size: auto;
  height: 76px;
  margin: auto;
  width: 72px;

  @media (--small-viewport) {
    height: 144px;
    width: 144px;
    background-image: url('assets/letter-focus.svg');
  }
}

.uploaderWrapper {
  display: flex;
  flex-direction: column;
  margin: 0rem 1rem;
  flex-grow: 1;
  @media (--small-viewport) {
    margin-top: 48px;
  }
}

.uploadArea {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  padding: 1.5rem 24px .5rem;
  border: 1px solid @color-text-dark;
  border-radius: 4px;
  background-color: @color-white;
  justify-content: space-around;

  @media (--small-viewport) {
    background-color: @color-transparent;
    border: none;
    justify-content: space-between;
    padding: 0;
  }
}
