@import (less) "../Theme/constants.css";

.text {
  margin-top: 0.5rem;
  font-size: 14px;
  line-height: 1.43;
}

.error {
  &:extend(.text);
  color: #DC0505;
}

.icon {
  background-size: 4rem auto;
}

.uploadIcon {
  &:extend(.icon);
  background-image: url('assets/upload.svg');
}

.cameraIcon {
  &:extend(.icon);
  background-image: url('assets/camera.svg');
}

.uploaderWrapper {
  display: flex;
  flex-direction: column;
  margin: 0rem 1rem;
}

.dropzone {
  padding: 1.5rem;
  cursor: pointer;
  border: 1px dashed #585E5F;
  border-radius: 4px;
  background-color: #FFFFFF;
  min-height: 16.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (--small-viewport) {
    min-height: 13.5rem;
  }
}

.crossDeviceClient .dropzone {
  min-height: 16.5rem;
  margin-top: 4.5rem;
  @media (--small-viewport) {
    min-height: 13.5rem;
  }
}
