@import (less) "../Theme/constants.css";

.base {
  margin-top: 52px;
  @media (--small-viewport) {
    margin-top: 36px;
  }
}

.text {
  margin-top: 0.5rem;
  @media (--small-viewport) {
    font-size: 14px;
    line-height: 20px;
  }
}

.error {
  &:extend(.text);
  color: #DC0505;
}

.icon {
  background-size: 4rem auto;
}

.uploadIcon {
  &:extend(.icon);
  background-image: url('assets/upload.svg');
}

.cameraIcon {
  &:extend(.icon);
  background-image: url('assets/camera.svg');
}

.uploaderWrapper {
  margin: 0rem 1rem;
}

.dropzone {
  padding: 1.5rem;
  cursor: pointer;
  border: 1px dashed #585E5F;
  border-radius: 4px;
  background-color: #FFFFFF;
  @media (--large) {
    min-height: 16.5rem;
  }
  @media (--small-viewport) {
    min-height: 13.5rem;
    margin-top: 4.5rem;
  }
}

.crossDeviceClient .dropzone {
  min-height: 16.5rem;
  margin-top: 4.5rem;
  @media (--small-viewport) {
    min-height: 13.5rem;
  }
}
