@import (less) "../Theme/constants.css";

.base {
  padding: 1.5rem;
  padding-top: 0;
  margin-top: 48px;
}

.text {
  padding: 0 1.5rem;
  width: 250px;
  margin: auto;
}

.icon {
  background-size: 4rem auto;
  @media (--small-viewport) {
    margin-top: 2rem;
  }
}

.uploadIcon {
  &:extend(.icon);
  background-image: url('assets/upload.svg');
}

.cameraIcon {
  &:extend(.icon);
  background-image: url('assets/camera.svg');
}

.uploaderWrapper {
  margin: 0rem 1rem;
}

.error {
  color: #DC0505;
  margin-top: .75rem;
}

.dropzone {
  cursor: pointer;
  border: 1px dashed #585E5F;
  border-radius: 4px;
  background-color: #FFFFFF;
  @media (--large) {
    min-height: 16.5rem;
  }
  @media (--small-viewport) {
    min-height: 13.5rem;
  }
}
