@import (less) "../Theme/constants.css";

.container {
  display: flex;
}

.crossDeviceInstructionsContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20*@unit;
}

.instructions {
  margin: 16*@unit 0 0;

  @media (--small-viewport) {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center
  }
}

.instructionsCopy {
  margin: 14*@unit-small 24*@unit-small;
  font-size: @font-size-small;
  line-height: 1.43;

  @media (--small-viewport) {
    font-size: @font-size-base;
    margin: 14*@unit 24*@unit;
  }
}

.error {
  &:extend(.text);
  color: @color-error;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.poaButtons {
  margin-right: -16*@unit;
  @media (--small-viewport) {
    margin-right: -8*@unit;
  }
}

.buttonContainer {
  display: flex;
  width: 100%;
}

.poaBtnContainer {
  margin-right: 16*@unit;
  @media (--small-viewport) {
    margin-right: 8*@unit;
  }
}

.crossDeviceButton {
  margin-top: 16*@unit;
  margin-bottom: 16*@unit;
}

.icon {
  background-size: 64*@unit auto;
}

.identityIcon {
  background-image: url('assets/cross-device-doc-icon.svg');
  background-size: 72*@unit;
  background-position: 40% 50%;
  background-repeat: no-repeat;
  background-color: @color-icon-temporary;
  border-radius: 144*@unit 144*@unit;
  height: 144*@unit;
  width: 144*@unit;
  min-width: 16%;
  margin: 32*@unit auto 0;

  @media (--small-viewport) {
    background-image: url('assets/camera.svg');
    background-position: center;
    background-color: @color-transparent;
    background-size: 64*@unit auto;
    border-radius: 0;
    height: 72*@unit;
    width: 72*@unit;
  }
}

.faceIcon {
  &:extend(.icon);
  background-image: url('assets/cross-device-selfie-icon.svg');
  background-size: 100*@unit;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-color: @color-icon-temporary;
  border-radius: 144*@unit 144*@unit;
  height: 144*@unit;
  width: 144*@unit;
  min-width: 16%;
  margin: 32*@unit auto 0;

  @media (--small-viewport) {
    background-image: url('assets/camera.svg');
    background-position: center;
    background-color: @color-transparent;
    background-size: 64*@unit auto;
    border-radius: 0;
    height: 72*@unit;
    width: 72*@unit;
  }
}

.proofOfAddressIcon {
  &:extend(.identityIcon);

  @media (--small-viewport) {
    height: 144*@unit;
    width: 144*@unit;
    background-image: url('assets/letter-focus.svg');
    background-size: auto;
  }
}

.uploaderWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 16*@unit;
  flex-grow: 1;
}

.uploadArea {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  padding: 24*@unit 24*@unit 8*@unit;
  justify-content: space-around;

  @media (--small-viewport) {
    background-color: @color-transparent;
    border: none;
    justify-content: space-between;
    padding: 0;
  }
}
