<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Onfido SDK Demo</title>
    <meta name="viewport" content="width=device-width, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500" rel="stylesheet">
    <style type="text/css">
      html, body {
        height: 100%;
        margin: 0;
      }
      body, button {
        -webkit-font-smoothing: antialiased;
      }
      @media (min-width: 30em) {
        #onfido-mount {
          position: relative;
          top: 10%;
        }
        .onfido-sdk-ui-Modal-inner {
          font-family: "Open Sans", sans-serif !important;
        }
      }
    </style>
  </head>
  <body>
    <div id="onfido-mount"></div>
    <button id="onfido-button" disabled>Verify identity</button>
    <script type="text/javascript">
      var options = window.location.search.slice(1)
                    .split('&')
                    .reduce(function _reduce (/*Object*/ a, /*String*/ b) {
                      b = b.split('=');
                      a[b[0]] = decodeURIComponent(b[1]);
                      return a;
                    }, {});
      var useModal = options.useModal === "true"
      if (!useModal){
        document.getElementById("onfido-button").style.visibility = "hidden";
      }

      window.onload = function() {
        if (options.async === "false") {
          getToken(createSDK)
        }
        else {
          createSDK(null)
          getToken(injectToken)
        }
      }

      var createSDK = function(token) {
        window.onfidoOut = Onfido.init({
          token: token,
          useModal: useModal,
          buttonId: 'onfido-button',
          onDocumentCapture: function(data) {
            /*callback for when the*/ console.log("document has been captured successfully", data)
          },
          onFaceCapture: function(data) {
            /*callback for when the*/ console.log("face capture was successful", data)
          },
          onComplete: function(data) {
            /*callback for when */ console.log("everything is complete", data)
            console.log(Onfido.getCaptures())
          },
          steps: [
            {
              type:'welcome',
              options:{
                title:'Open your new bank account',
                descriptions: [
                  'To open a bank account, we will need to verify your identity.',
                  'It will only take a couple of minutes.'
                ]
              }
            },
            {
              type:'document',
              options:{
                useWebcam: options.useWebcam === "true",
                types: []
              }
            },
            'face',
            'complete'
          ]
        })
      }

      var injectToken = function(token) {
        window.onfidoOut.setOptions({token: token})
      }

      var getToken = function(onSuccess) {
        var url = '<%= htmlWebpackPlugin.options.JWT_FACTORY %>'
        var request = new XMLHttpRequest()
        request.open('GET', url, true)
        request.onload = function() {
          if (request.status >= 200 && request.status < 400) {
            var data = JSON.parse(request.responseText)
            // Only log the applicant ID in development - it is sensitive data
            console.log("Applicant ID: " + data.applicant_id)
            onSuccess(data.message)
          }
        }
        request.send()
      }
    </script>
  </body>
</html>
