.title{
  width: 312px;
  height: 80px;
  margin-left: 60px;
  margin-bottom: 16px;
}

.smsSection {
  height: 76px;
  width: 432px;
  margin-top: 56px;
}

.fieldLabel{
  margin-bottom: 4px;
}

.label {
  font-weight: 600;
  text-align: left;
  color: #2C3E4F;
  float: left;
}

.sublabel {
  color: #585E5F;
  font-size: 14px;
  margin-left: 4px;
  font-weight: 400;
  float: left;
}

.numberInput {
	height: 48px;
	width: 432px;
  float: left;
	border: 1px solid #667080;
	border-radius: 4px;
  border-right: none;
	background-color: #FFFFFF;
  margin-top: 4px;
}

.numberInput input {
  margin: 8px;
}

.invalidNumberError {
  color: #DC2A2A;
  font-size: 14px;
  line-height: 20px;
}

.copyLinkSection {
  height: 68px;
  margin-top: 86px;
  text-align: left;
}

.actionContainer {
  display:inline-block;
  position:relative;
  margin-top: 8px;
}

.copySuccess:before {
  z-index: 1;
  position: absolute;
  display: block;
  right: 50px;
  bottom: 5px;
  width: 13px;
  height: 11px;
  content: "";
  background-repeat: no-repeat;
  background-image: url('./assets/checkmark-green.svg');
}

.linkText {
  position:relative;
  float: left;
  resize: none;
  height: 24px;
  width: 320px;
  border: none;
  background-color: #f3f3f4;
  overflow: hidden;
  font-size: 16px;
  line-height: 24px;
  color: #2C3E4F;
  font-family: "Open Sans";
  white-space: nowrap;
}

.copyToClipboard {
  margin-left: 64px;
  font-size: 14px;
  border-bottom: 1px solid #00C8A0;
  text-decoration: none;
}

.copyToClipboard:visited {
  text-decoration: none;
  color: #2C3E4F;
  font-size: 14px;
}

.copySuccess .copyToClipboard {
  border-bottom: none;
}

.divider {
  border-style: solid;
  border-color: #8A9293;
  opacity: 0.35;
  margin-top: 11px;
}

.btn {
  height: 48px;
  width: 112px;
  float: right;
  border-radius: 0 4px 4px 0;
  padding: 0;
  margin-top: -1px;
}
