@import (less) "../Theme/constants.css";
@import (less) "../Theme/style.css";

.camera {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fullScreenContainer() {
  position: static;
  .uploadFallback {
    display: none;
  }
}

.video-overlay {
  /* Relatively positioned so absolute children are bound to this overlay */
  position: relative;
  overflow: hidden;
  margin: 0 40px 16px;

  .livenessCamera & {
    .fullScreenContainer();
  }

  @media (--small-viewport) {
    .fullScreenContainer();
  }
}


.fullScreenBtn {
  @media (--small-viewport) {
    width: 56px;
    height: 56px;
    background-color: white;
    border: 3px solid black;
    box-shadow: 0px 0px 0px 4px white;
    border-radius: 50%;
  }
}

.fullScreenCenteredButton {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.btn:disabled {
  background-color: #8A9293;
}

.btn:extend(.btn, .btn-centered, .btn-primary) {
  @media (--small-viewport) {
    .fullScreenCenteredButton();
  }

  .livenessCamera & {
    .fullScreenCenteredButton();
  }
}

.recordingIndicator {
  font-size: 11px;
  text-align: center;

  /* Red circle */
  &::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 5px;
    background: #DC2A2A;
    border-radius: 4px;
    line-height: 120%;
  }
}

.fullScreenRoundedIcon() {
  width: 60px;
  height: 60px;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  box-shadow: none;
}

.fullScreenStartRecordingIcon() {
  .fullScreenRoundedIcon();
  background-image: url('./assets/start.svg');
}

.fullScreenStopRecordingIcon() {
  .fullScreenRoundedIcon();
  background-image: url('./assets/stop.svg');
}

.startRecording {
  @media (--small-viewport) {
    .fullScreenStartRecordingIcon();
  }

  .livenessCamera & {
    .fullScreenStartRecordingIcon();
  }
}

.stopRecording {
  @media (--small-viewport) {
    .fullScreenStopRecordingIcon();
  }

  .livenessCamera & {
    .fullScreenStopRecordingIcon();
  }
}

.video-overlay:before {
  content: "";
  display: block;
  padding-top: 70%;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 0;
}

.video {
  display: block;
  position: absolute;
  height: 100%;
  width:100%;
  top: 0;
  left: 0;
  margin: auto;
  object-fit: cover;
  z-index: 0;
  /*Mirroring transform: scale(-1, 1); */
}

/* this will only apply styles to Edge */
@supports (-ms-ime-align:auto) {
  .video {
    width:auto;
    @media (--small-viewport) {
      /* HACK: this will make the video (kind of) look centered on small screens in absence of `object-fit:cover`.
      It might not work on all screen sizes*/
      left: -50%;
    }
  }
}

.uploadFallback {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 16px;
  padding-bottom: 4px;

  & button{
    /* ref: http://stackoverflow.com/a/12642009/689223 */
    /* Remove all decorations to look like normal text */
    background: none;
    border: none;
    display: inline;
    font: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    outline-offset: 0;
    /* Additional styles to look like a link */
    cursor: pointer;

    /*Custom style*/
    color: white;
    &:hover{
      text-decoration: underline;
    }
  }
}

.errorContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;

  @media (--small-viewport) {
    top: 40px;
  }

  &::before {
    content: '';
    display: block;
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 1;
  }
}

.errorMessage {
  position: relative;
  z-index: 2;
}

.errorLink {
  text-decoration: underline;
  cursor: pointer;
}

.fullScreenCaptureActions() {
  position: absolute;
  bottom: 48px;
  left: 16px;
  right: 16px;
}

.captureActions {
  @media (--small-viewport) {
    .fullScreenCaptureActions();
  }

  .livenessCamera & {
    .fullScreenCaptureActions();
  }
}

.fullScreenCaptureActionsHintText() {
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
}

.captureActionsHint {
  @media (--small-viewport) {
    .fullScreenCaptureActionsHintText();
  }

  .livenessCamera & {
    .fullScreenCaptureActionsHintText();
  }
}

.caption {
  color: #fff;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 68px;
  left: 0;
  right: 0;
}
