.video-overlay {
  /* Relatively positioned so absolute children are bound to this overlay */
  position: relative;
  overflow: hidden;
  margin-top: -10px;
}

.video {
  max-width: 100%;
  height: auto !important;
  display: block;
}

.uploadFallback{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
