.video-overlay {
  /* Relatively positioned so absolute children are bound to this overlay */
  position: relative;
  overflow: hidden;
  margin-top: 16px;
  width: 100%;
}

.video-overlay:before {
  content: "";
  display: block;
  padding-top: 70%;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
}

.captureActions {
  margin: 15px 0 55px;
}

.video {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin: auto;
  object-fit: cover;
  /*Mirroring transform: scale(-1, 1); */
}

.uploadFallback{
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 16px;
  padding-bottom: 4px;

  & button{
    /* ref: http://stackoverflow.com/a/12642009/689223 */
    /* Remove all decorations to look like normal text */
    background: none;
    border: none;
    display: inline;
    font: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    outline-offset: 0;
    /* Additional styles to look like a link */
    cursor: pointer;

    /*Custom style*/
    color: white;
    &:hover{
      text-decoration: underline;
    }
  }
}
