@import (less) "../Theme/constants.css";
@import (less) "../Theme/style.css";

.camera {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fullScreenContainer {
  position: static;
}

.autoCaptureContainer {
  position: relative;
  overflow: hidden;
  margin: 0 40px 16px;
}

.container {
  overflow: hidden;
}


.fullScreenBtn {
  width: 56px;
  height: 56px;
  background-color: white;
  border: 3px solid black;
  box-shadow: 0px 0px 0px 4px white;
  border-radius: 50%;
}

.fullScreenCenteredButton {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.btn:disabled {
  background-color: #8A9293;
}

.btn:extend(.btn, .btn-centered, .btn-primary) {
.fullScreenCenteredButton();

  .livenessCamera & {
    .fullScreenCenteredButton();
  }
}

.recordingIndicator {
  font-size: 11px;
  text-align: center;
  line-height: 16px;
  margin-bottom: 16px;

  /* Red circle */
  &::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 5px;
    background: #DC2A2A;
    border-radius: 4px;
    line-height: 120%;
  }
}

.fullScreenRoundedIcon() {
  width: 60px;
  height: 60px;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  box-shadow: none;
}

.fullScreenStartRecordingIcon() {
  .fullScreenRoundedIcon();
  background-image: url('./assets/start.svg');
}

.fullScreenStopRecordingIcon() {
  .fullScreenRoundedIcon();
  background-image: url('./assets/stop.svg');
}

.startRecording {
  @media (--small-viewport) {
    .fullScreenStartRecordingIcon();
  }

  .livenessCamera & {
    .fullScreenStartRecordingIcon();
  }
}

.stopRecording {
  @media (--small-viewport) {
    .fullScreenStopRecordingIcon();
  }

  .livenessCamera & {
    .fullScreenStopRecordingIcon();
  }
}

.container:before {
  content: "";
  display: block;
  padding-top: 70%;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 0;
}

.video {
  display: block;
  height: 100%;
  z-index: 0;
}

.webcamContainer {
  position: absolute;
  top: 0;
  left: 50%;
  margin: auto;
  transform: translate(-50%, 0%) !important;
}

.uploadFallback {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 16px;
  padding-bottom: 4px;

  & button{
    /* ref: http://stackoverflow.com/a/12642009/689223 */
    /* Remove all decorations to look like normal text */
    background: none;
    border: none;
    display: inline;
    font: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    outline-offset: 0;
    /* Additional styles to look like a link */
    cursor: pointer;

    /*Custom style*/
    color: white;
    &:hover{
      text-decoration: underline;
    }
  }
}

.errorContainer {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}

.errorOverlay() {
  &::before {
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.errorContainerType {
  .errorOverlay();
}

.errorHasBackdrop {
  .errorOverlay();
  bottom: 0;
  &::before {
    background-color: #1C1F21;
    opacity: .57;
  }
}

.errorMessage {
  left: 8px;
  position: absolute;
  right: 8px;
  top: 48px;
  z-index: 2;

  @media (--small-viewport) {
    left: 0;
    right: 0;
  }
}

.errorLink {
  text-decoration: underline;
  cursor: pointer;
}

.errorActionBtn {
  font-size: 12px;
  height: auto;
  width: auto;
  padding: 10px;
  margin-left: auto;

  @media (--small-viewport) {
    flex-grow: 1;
  }
}

.captureActions {
  position: absolute;
  bottom: 48px;
  left: 16px;
  right: 16px;
}

.fullScreenCaptureActionsHintText() {
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
}

.captureActionsHint {
  @media (--small-viewport) {
    .fullScreenCaptureActionsHintText();
  }

  .livenessCamera & {
    .fullScreenCaptureActionsHintText();
  }

  &.recordAction {
    @media (--smaller-viewport) {
      display: none;
    }
  }
}

.caption {
  color: #fff;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 64px;
  left: 0;
  right: 0;
}
