@import (less) "../Theme/constants.css";
@import (less) "../Theme/style.css";

.camera {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.video-overlay {
  /* Relatively positioned so absolute children are bound to this overlay */
  position: relative;
  overflow: hidden;
  margin: 0 40px 16px;
}

.overlayFullScreen {
  @media (--small-viewport) {
    position: static;

    .uploadFallback {
      display: none;
    }
  }
}

.fullScreenBtn {
  @media (--small-viewport) {
    width: 56px;
    height: 56px;
    background-color: white;
    border: 3px solid black;
    box-shadow: 0px 0px 0px 4px white;
    border-radius: 50%;
  }
}


.btn:extend(.btn, .btn-centered, .btn-primary) {
  @media (--small-viewport) {
    padding: 0;
    position: absolute;
    bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .btnText {
    @media (--small-viewport) {
      display: none;
    }
  }
}

.startRecording {
  @media (--small-viewport) {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 48px;
    background-image: url('./assets/start.svg');
    background-repeat: no-repeat;
    background-color: transparent;
  }
}

.stopRecording {
  @media (--small-viewport) {
    width: 60px;
    height: 60px;
    background-image: url('./assets/stop.svg');
    background-repeat: no-repeat;
    background-color: transparent;
  }
}

.video-overlay:before {
  content: "";
  display: block;
  padding-top: 70%;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 0;
}

.video {
  display: block;
  position: absolute;
  height: 100%;
  width:100%;
  top: 0;
  left: 0;
  margin: auto;
  object-fit: cover;
  z-index: 0;
  /*Mirroring transform: scale(-1, 1); */
}

/* this will only apply styles to Edge */
@supports (object-fit: cover) and (-ms-ime-align:auto) {
  .video {
    height:100%;
    width:auto;
    @media (--small-viewport) {
      /* HACK: this will make the video look centered on small screens */
      left: -50%;
    }
  }
}

.uploadFallback {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 16px;
  padding-bottom: 4px;

  & button{
    /* ref: http://stackoverflow.com/a/12642009/689223 */
    /* Remove all decorations to look like normal text */
    background: none;
    border: none;
    display: inline;
    font: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    outline-offset: 0;
    /* Additional styles to look like a link */
    cursor: pointer;

    /*Custom style*/
    color: white;
    &:hover{
      text-decoration: underline;
    }
  }
}
