@import (less) "../Theme/constants.css";

.privacy {
  height: calc(~"100% - 112px");
  width: 100%;
  position: absolute;
}

.content {
  height: calc(~"100% - 112px");
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #0F2536;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.list {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  padding-left: 32px;
  position: relative;
}

.item {
   list-style: none;
   margin-bottom: 16px;
}

.item:before{
   content: '';
   display: inline-block;
   height: 16px;
   width: 32px;
   background-image: url('assets/tick-grey.svg');
   background-repeat: no-repeat;
   left: 0;
   position: absolute;
}

.smallPrint {
  font-size: 11px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 16px;
}

.smallPrint a {
  color: #0F2536;
}

.btn-outline {
  width: 136px;
  border: 1px solid #8A9293;
  border-radius: 28px;
  background-color: transparent;
  color: #585E5F;
  line-height: 16px;
  @media (--small-viewport) {
    padding: 0px 16px;
  }
}
