@import '../Theme/constants';
@import './assets/animations';

.introCopy {
  margin-bottom: auto;
  overflow: auto;
}

.welcomeAuth {
  background-image: url('./assets/auth_intro.svg');
  max-width: 180px;
  max-height: 180px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
